[2018-11-20 07:26] Eloston opened #1 "Merge Debian changes"
I've finished implementing the structure, workflow, and supporting code (in ungoogled-chromium) for this repo. Now, I'll need to merge upstream (i.e. Debian) changes for `master` and `stretch`.

[2018-11-23 20:00] Eloston commented on #1
Changes have been merged; currently making fixes as necessary.

[2018-11-23 20:00] #1 closed, assigned to Eloston

[2019-03-24 18:31] Eloston opened #4 "Migrate ungoogled_debian_minimal to new format"
Need to convert the `ungoogled_debian_minimal` branch to the new format.

[2019-04-10 05:31] Eloston opened #5 "Update to 73"
Update to ungoogled-chromium 73.

[2019-04-12 13:26] zaza42 opened #6 "clang-7: error: unknown argument: '-fsplit-lto-unit'"
[code]

I've changed it to clang-8, then the compiling continues to run.

[2019-04-12 13:33] zaza42 opened #7 "compile error: TabStripModelChange"
[code]

[2019-04-12 18:42] #6 closed, assigned to nobody

[2019-04-12 19:19] Eloston commented on #7
I just took myself on a crash course on default constructors, and I still have no clue why this is happening. It doesn't help that the code the those files haven't changed at all since 72, and there's no other code in ungoogled-chromium that touches anything closely related.

What's your LLVM toolchain version?

[2019-04-13 13:01] zaza42 commented on #7
[code]
Default package from Debian Sid: 1:8-3
https://packages.debian.org/source/sid/llvm-toolchain-8

[2019-04-15 21:07] Eloston commented on #7
Interesting. I used LLVM from apt.llvm.org and I'm using the build right now. Could you try using LLVM from there, or building a newer version? (The one in apt.llvm.org is 8.0.1 revision 357234)

[2019-04-15 21:19] Eloston commented on #5
Done.

[2019-04-15 21:19] #5 closed, assigned to Eloston

[2019-04-15 21:26] Eloston opened #9 "VA-API VP9 decoding not working (video is black and won't play)"
Version: 73.0.3683.103-1.buster1

VA-API VP9 decoding does not seem to be working under X11. A black area appears where the video should be shown, and it won't play. No errors are printed out to stdout/stderr.

Here's a test site: https://base-n.de/webm/VP9%20Sample.html
YouTube videos also have the same problem.

The workaround is to disable `chrome://flags/#disable-accelerated-video-decode` so t

[2019-04-16 05:13] zaza42 commented on #7
The same. :-<
[code]
[code]
Any other tip about another software version?
`gcc version 9.0.1 20190402 (experimental) [trunk revision 270074] (Debian 9-20190402-1)
`

[2019-04-16 07:53] zaza42 commented on #7
I've set up a clean debian buster chroot with debootstrap, then ungoogled-chromium-l10n_73.0.3683.103 was compiled clearly. May some newer package caused the problem which are from sid/experimental.
I'm going to find out which package caused the error.

[2019-04-16 10:58] xsmile commented on #9
No issues here with an Intel HD 4000, however it doesn't accelerate VP9 decoding.

I found similar reports for Arch Linux and Fedora:
https://aur.archlinux.org/packages/chromium-vaapi/
https://bugzilla.redhat.com/show_bug.cgi?id=1694651

It might be better to reintroduce the old behavior and keep VA-API available, but disabled by default.

[2019-04-16 13:21] riyad commented on #9
Tested on Ubuntu 18.10 (cosmic) with Intel HD 620 integrated graphics.

-  In a Gnome-Wayland session both videos work.
- In a Gnome X11 session the VP8 video works, but the VP9 video is broken as described above. Disabling the "Hardware-accelerated video decode" flag indeed makes it work again.

[2019-04-16 20:18] Eloston commented on #9
@riyad Thanks for testing.

@xsmile

Could you clarify what you mean by "old behavior"?

[2019-04-16 22:12] xsmile commented on #9
@Eloston The current patch [1] enables hardware acceleration by default, whereas the previous variant [2] - which isn't compatible to the current Chromium version anymore - requires users to explicitly enable several flags first.

1: https://salsa.debian.org/chromium-team/chromium/blob/master/debian/patches/fixes/vaapi.patch
2: https://chromium-review.googlesource.com/c/chromium/src/+/532294

[2019-04-17 18:54] Eloston commented on #9
@xsmile I see. In that case, we can just set `chrome://flags/#disable-accelerated-video-decode` to be ~enabled~ disabled by default. Once VP9 decoding is fixed, we can ~disable~ enable it by default again.

[2019-04-17 19:21] #9 closed, assigned to nobody

[2019-04-23 16:04] riyad commented on #9
I just tested a prebuild of mine on Ubuntu 19.04 (disco):

- In a Gnome-Wayland session both videos work with both settings.
- In a Gnome X11 session **disabling** the "Hardware-accelerated video decode" breaks the VP9 video. When enabled both videos play fine. :upside_down_face:

[2019-04-24 06:55] Eloston opened #11 "Update to 74"
74.0.3729.108-1 is now available in unstable.

EDIT: Currently waiting for Debian to publish changes to the git repo for their `chromium` package.

EDIT2: Will work on it when I can.

[2019-04-24 08:53] riyad commented on #11
`revision.txt` is still at `2` :wink:

[2019-04-25 16:13] davidhuff2014 commented on #11
It seems as though ubuntu_bionic will now be 2 versions behind.
![image](https://user-images.githubusercontent.com/7384846/56751221-8bfbeb00-6753-11e9-8627-34a49ae7aff4.png)

[2019-04-26 06:12] Eloston commented on #11
@davidhuff2014 I did a rough update of Ubuntu Bionic. Please let me know if I broke anything in a new issue.

[2019-04-27 11:37] kuboosoft commented on #7
@zaza42 Hi. Do you find the problem?

[2019-05-01 04:51] Eloston commented on #9
I decided not to implement a fix for this issue in 74 since a good solution would be more involved than I thought it would be, and I'm hoping Debian will come up with a fix for this. Instead, please just set `chrome://flags/#disable-accelerated-video-decode` to Disabled manually.

[2019-05-02 18:01] #11 closed, assigned to Eloston

[2019-05-02 18:02] Eloston opened #13 "Update to 75"
Waiting for Debian to publish a new release.

[2019-05-02 19:06] davidhuff2014 commented on #13
Thank you!
73 built just fine on bionic.

[2019-05-08 13:32] FireBurn commented on #7
Hi

Changing:

../../chrome/browser/ui/tabs/tab_strip_model_observer.h:106:28: note: default constructor of 'TabStripModelChange' is implicitly deleted because field 'deltas_' of const-qualified type 'const std::vector<Delta>' would not be initialized
  const std::vector<Delta> deltas_;

to:

std::vector<Delta> deltas_;

fixes things for me on Gentoo

[2019-05-09 14:04] galkinvv commented on #13
By the way the latest debains libicu63/experimental 63.2-1 is marked as breaking `chromium (<= 74.0.3729.108-1)`
Since ungoogled-chromium is different package name - apt allows upgrading libicu63 while ungoogled-chromium is installed. After that  ungoogled-chromium `74.0.3729.108-1.buster1` crashes with
[code]
I don't no deb versiosning practice but it seems that ungoogled-chromium should be eithe

[2019-05-09 16:30] Eloston commented on #13
@galkinvv The buster binaries support buster only. sid and experimental are not supported by the binaries, so you will need to rebuild the browser. If libicu 63.2-1 enters buster, then I will deal with the situation then.

[2019-05-10 23:46] kuboosoft commented on #7
@FireBurn nop; it doesn't solve the issue :crying_cat_face:

[2019-05-13 15:51] davidhuff2014 commented on #13
Will ubuntu_bionic build on 74 now?

[2019-05-14 16:58] Eloston commented on #13
@davidhuff2014 It hasn't been updated yet. I don't have an ETA.

[2019-05-30 07:59] BinaryKhaos commented on #7
Have a look [here](https://bugs.gentoo.org/686982). Basically the problem comes from using libstdc++-6.0.26 (gcc-9) with clang. I haven't had the time to fully investigate this, unfortunately. Hope it helps nevertheless.

[2019-06-11 22:56] #13 closed, assigned to Eloston

[2019-08-05 06:14] Eloston opened #20 "SIGILL in attempt to update to 76"
bd859eb69fb91ee1129e71b767f56ca7e1030635 results in a build that crashes with SIGILL, i.e. Illegal operation. Will need to be investigated, possibly with a debug build.

[2019-08-10 19:04] Eloston commented on #20
Fixed, see https://github.com/ungoogled-software/ungoogled-chromium-archlinux/issues/22 for discussion.

[2019-08-10 19:04] #20 closed, assigned to nobody

[2019-09-04 12:58] hrj opened #23 "Building on Ubuntu 18.04: libharfbuzz-dev (>= 2.1.1) is not satisfiable"
On Ubuntu 18.04 (current LTS) the available version of libharfbuzz-dev is `1.7.2`.

But in [this line](https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/f7b9c9b42e5a1355d624868b9afe5f4c948a6988/debian/control#L75), the dependency is explicitly set to `libharfbuzz-dev (>= 2.1.1)`

Is there a reason why this is particularly set to `>= 2.1.1` ?

[2019-09-04 13:06] hrj commented on #23
Oh nevermind. I just saw that there is a `ubuntu_bionic` branch. :man_facepalming:

[2019-09-04 13:06] #23 closed, assigned to nobody

[2019-09-10 12:11] ilu33 opened #24 "How does ungoogled chromium differ from debian chromium?"
Would it be possible to explain this in the Wiki? Does it differ at all? Is there a reason to prefer one over the other? Do you collaborate?

[2019-09-11 19:49] Eloston commented on #24
Good question, I'll add a section to the README.

[2019-09-11 23:01] #24 closed, assigned to nobody

[2019-10-27 20:53] Eloston commented on #4
On second thought, I think this should be implemented in ungoogled-chromium-portablelinux.

[2019-10-27 20:53] #4 closed, assigned to nobody

[2019-11-03 09:54] nurupo opened #27 "Update to 78"
Any chance of updating to 78?

It doesn't seem like Debian's chromium package is going to be updated any time soon, it seems to be stuck on 76 and currently unmintained [[1]](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=943909) [[2]](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=941060) [[3]](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=943668) [[4]](https://www.reddit.com/r/debian/c

[2019-11-04 09:22] Eloston commented on #27
Yeah, I am not too happy about this either. I will look into it, but it will take me some time.

I will try to keep things as Debian-like as possible, but I will probably take some shortcuts (e.g. use some more bundled libraries instead of system libraries) since I don't have that much time to patch these kinds of dependencies.

[2019-11-04 17:27] zrose584 commented on #27
Hi, I also tried to port the patches to chromium 78:
https://github.com/zrose584/ungoogled-chromium-debian/tree/zrose584_deb10_78

But currently I have no idea if they work.. it starts building though

[2019-11-04 17:29] zrose584 commented on #27
@nurupo Make sure your debian/patches/series file didn't changed.
The only change I made was to remove gcc6/atomic.patch, as this patch is obsolete now.

edit:
I think we can't use  `use_system_harfbuzz=true` anymore, since the required  `harfbuzz-subset` is not in any debian repositorys yet.

[2019-11-04 21:02] nurupo commented on #27
@zrose584 thank you for the concern but I have deleted all my files/patches. No point in keeping them if I can't get it to work.

[2019-11-04 21:07] nurupo commented on #27
If I remember right, the `gcc6/atomic.patch` you have mentioned was already applied in the upstream.

I believe I had one more obsolete patch though. There was a patch that patched only no longer existing files. I didn't bother checking git to see if the files were renamed/moved so I excluded that patch too.

[2019-11-05 10:17] zrose584 commented on #27
It seems like official [patches](https://cdn-aws.deb.debian.org/debian/pool/main/c/chromium/chromium_78.0.3904.87-1.debian.tar.xz) got released yesterday, here the [changelog](https://tracker.debian.org/media/packages/c/chromium/changelog-78.0.3904.87-1).
Yet nothing on [salsa](https://salsa.debian.org/chromium-team/chromium), but probably won't take too long..

[2019-11-06 17:28] tangalbert919 commented on #27
Knowing Debian, they probably won't update their [salsa](https://salsa.debian.org/chromium-team/chromium) until they have Chromium 78 in their testing or stable branches, so it could take a while.

In the meantime, I could just update the patches in the Ubuntu branches right now, since Ubuntu has already released their patches for that version in their package archive.

[2019-11-07 15:46] zrose584 commented on #27
FIY I integrated the official debian patches over on my [fork](https://github.com/zrose584/ungoogled-chromium-debian).
I had to edit some patches, and even generate new ones to make it work.
There are also many duplicate patches now..

You can see _exactly_ what commands I used over on OBS, since thats what I used to build it: [link](https://build.opensuse.org/package/show/home:zrose584/ungoogled-

[2019-11-07 19:45] ilu33 commented on #24
@Eloston Thank you for not adhering to that weird debian decision to eliminate lighthouse/tracing. I'm glad I finally found a chromium version I can work with - without ignoring those in need of accessibility features. You should explicitly point out that difference in the readme because Audits are an important feature for web developers.

Edit: Background for anybody who hasn't seen this: https:/

[2019-11-07 20:51] zrose584 commented on #24
@ilu33
ehm.. what version of ungoogled-chromium are you talking about?
AFAIK the patch [debian/disable/tracing.patch](https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/debian_buster/debian/patches/disable/tracing.patch) is still applied.
Just checked, about://tracing does not work for ungoogled-chromium_76.0.3809.132-1.buster1_amd64.deb

I was thinking about removing it on my OB

[2019-11-07 21:07] ilu33 commented on #24
I just downloaded v. 77.0.3865.120, installed on debian 10, used the readme, and audits work. I'm not getting the tracing/lighthouse errors I'm getting on the deb10 repository build. The about://tracing output looks ok.

Actually I've seen that patch too but I'm not complaining ... :-)

Although I usually agree with debian I cannot understand the debian decision on this issue - they don't claim th

[2019-11-09 10:24] Eloston commented on #27
There's no strong reason. When I started ungoogled-chromium, I thought it made more sense to use the compiler that Chromium officially uses, since I thought it would produce more efficient builds and require fewer changes to Chromium. As of now, I don't know how much GCC vs LLVM has on efficiency, but it does eliminate the need for GCC patches. If there is a strong reason to, we could change it ba

[2019-11-11 05:05] tangalbert919 commented on #27
The patches have been updated. Now it's just a matter of finding out if it builds.

EDIT: Thanks, @Eloston.

[2019-11-11 05:08] Eloston commented on #27
@zrose584 It's interesting to see that OBS builds Chromium so quickly. It looks promising; could you post your findings to https://github.com/Eloston/ungoogled-chromium/issues/17? I'm also wondering if there is a way to add packages from backports (or apt.llvm.org).

@tangalbert919

Right now they don't. Trying out some changes before I push again.

[2019-11-11 05:09] nurupo commented on #27
Salsa repo got updated a couple days ago. Also, Debian's Chromium includes the VAAPI patch now.

[2019-11-11 13:51] zrose584 commented on #27
What I found was that the [chromium_78.0.3904.87.orig.tar.xz](https://cdn-aws.deb.debian.org/debian/pool/main/c/chromium/chromium_78.0.3904.87.orig.tar.xz) (250MB) has many files removed compared to [chromium-78.0.3904.87.tar.xz](https://commondatastorage.googleapis.com/chromium-browser-official/chromium-78.0.3904.87.tar.xz) (740MB).
Deleting these files did not only reduce compile time, but also

[2019-11-11 14:03] zrose584 opened #29 "usefulness of debian/disable/tracing.patch"
What about removing `debian/disable/tracing.patch` from `debian/series/`?
Background info: [[1]](https://github.com/GoogleChrome/lighthouse/issues/7246) [[2]](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=922431#10).
opinions?

[2019-11-11 15:00] tangalbert919 commented on #27
Right now, I've got some changes currently in the works to make `debian_buster` buildable while also addressing the unknown warning spam problem. I'll probably have those changes ready by the end of today.

[2019-11-11 19:34] Eloston commented on #29
It's already gone on Debian buster. I didn't really like their decision to break tracing because of minified JS files.

[2019-11-11 19:34] #29 closed, assigned to nobody

[2019-11-11 21:12] Eloston commented on #27
Update: I pushed some new changes to `debian_buster`. I still need to confirm that the new changes are enough for a working build.

[2019-11-11 21:29] Eloston commented on #27
I should note a few new changes in the new commits:

* Added `debian/scripts/remove_copyright_excluded` and `debian/devutils/fix_copyright_excludes.py` to enforce deletion of files based on `debian/copyright`. This should also help fix creating a valid `.orig.tar.xz` when building from a source package.
* Added `debian/scripts/{apply,revert}_domainsubstitution` to make it easier to apply/revert do

[2019-11-11 21:41] tangalbert919 commented on #27
I am currently testing to see if these changes are enough for a working build right now in a Virtual Machine. This will take an hour or two.

[2019-11-12 01:43] Eloston commented on #27
Done as of 94a07d5eae92df9b25fa1c22a732557d703ba11e

[2019-11-12 01:43] #27 closed, assigned to Eloston

[2019-11-12 06:11] Eloston commented on #7
Closing since 78 is out. Let me know if this is still a problem.

[2019-11-12 06:11] #7 closed, assigned to nobody

[2019-11-14 15:59] zrose584 opened #33 "log bloat (implicit float conversion)"
The patch `ungoogled-chromium/unknown-clang-warning-flags.patch` removes `-Wno-implicit-int-float-conversion`, as its unknown for not-cutting-edge clang.

But this produces *massive* warning bloat, the log has now 9.5MB, before it was <3MB.
I suggest adding `-Wno-implicit` instead.
After all, we don't care about such warnings, thats chromium-team's duty.

Note: `-Wno-implicit-float-conversion` is

[2019-11-14 16:06] zrose584 commented on #33
ahh, I forgot clang 7 is not supported by this project, forget this..
And `Wno-implicit-float-conversion` is alredy used where needed.

[2019-11-14 16:06] #33 closed, assigned to nobody

[2019-11-18 15:25] merfoc opened #34 "Can't build ungoogled chromium on debian buster"
I have followed instructions and tried five times and same warnings comes every time. What I've done wrong?

In file included from ../../chrome/browser/media/router/discovery/mdns/dns_sd_device_lister.cc:5:
../../chrome/browser/media/router/discovery/mdns/dns_sd_device_lister.h:51:24: warning: private field 'delegate_' is not used [-Wunused-private-field]
  DnsSdDelegate* const delegate_;

[2019-11-19 04:22] Eloston commented on #34
The warnings look normal to me. The `-Wunused-private-field`s are because the patches don't remove all unused code. The `-Wshorten-64-to-32` resulted from Debian's patch `debian/patches/buster/icu63.patch`.

The log indicates that the packages were built successfully:

[code]

Packages always appear in the parent directory of your current working directory. Do you not see them?

[2019-11-20 14:10] merfoc commented on #34
Sorry, my mistake. I tried to open the browser terminal and it reported a sandbox missing. Everything is allright now.

[2019-11-20 14:10] #34 closed, assigned to nobody

[2019-11-30 01:40] GildedHonour opened #36 "New optional feature"
(wrong repo)

[2019-11-30 01:43] #36 closed, assigned to nobody

[2019-12-15 10:55] ghost opened #39 "get-orig-source fails during prune_binaries script run"
I setup a working directory, attempting to get a set of files I could upload to an automated build service. However I keep getting an error when the prune_binaries script is run. It fails to remove 18405 files which happens to be how many paths are specified in the list given to it. I think the issue is that the script is given the current working directory as the base instead of the extracted tar

[2019-12-16 06:01] Eloston opened #40 "Wait for Debian's 945920 to be fixed before release"
Wait for https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=945920 to be fixed before releasing version 79.

[2019-12-16 06:09] Eloston commented on #39
Yeah, you're right. Thanks for the fix.

[2019-12-16 06:10] #39 closed, assigned to nobody

[2019-12-16 17:28] ghost opened #42 "optimizing get-orig-source"
I found a significant bottleneck in the get-orig-source target of the debian/rules makefile. The line that reads `while read line; do rm -rf $line; done < $(removed)` is slow due to executing the rm command once for every file to be removed. This can be greatly sped up by doing more work for each execution of the rm command by utilizing xargs. I replaced this line with `xargs rm -rf < $(removed)`

[2019-12-17 17:35] zrose584 opened #43 "Use of Open Build Service (OBS)"
Have you looked into this?
Is there something blocking this from happening?

Background info: [ungoogled-chromium#17](https://github.com/Eloston/ungoogled-chromium/issues/17#issuecomment-552445053)

[2019-12-17 17:38] ghost commented on #43
Yes. I've found some issues with the scripts while trying to start my own PPA. I am trying to get them patched as we speak.

[2019-12-17 17:40] ghost commented on #42
I have created a pull request for this, #44. Please review it. Thank you.

[2019-12-18 00:36] ghost opened #45 "differences between get-orig-source and setup-local-src"
I have discovered a difference between how the two modes setup the source tree. The end result is that I get build failures such as this when I try to build from a source tree created by get-orig-source:
ninja: error: '../../third_party/breakpad/breakpad/src/common/convert_UTF.c', needed by 'obj/third_party/breakpad/client/convert_UTF.o', missing and no known rule to make it

And why does this occ

[2019-12-18 01:09] ghost commented on #45
I think I found something. Apparently the remove_copyright_excluded script is only processing directories and never regular files and as such the file wildcard patterns will never match.

[2019-12-18 19:42] zrose584 commented on #43
cool, but does PPA support debian?

Would be preferable to have one build service to rule them all, like [OBS](https://openbuildservice.org/).
I made an [working example](https://build.opensuse.org/package/show/home:zrose584/ungoogled-chromium) (for debian) 1 month ago, in hope that @Eloston could make an official one.

[2019-12-18 23:34] Eloston commented on #42
Merged, thanks for the detailed explanations.

[2019-12-18 23:34] #42 closed, assigned to nobody

[2019-12-18 23:55] Eloston commented on #45
The wildcard paths should be processed in the loop denoted by `# Gather all paths that match wildcards`. The logic is a little convoluted because I made a small optimization: the recursive glob will explore directories before the files inside of them, so the loop will skip the children of directories that match a wildcard pattern. I remove both files and directories in `_remove_files()`

Can you g

[2019-12-19 00:11] Eloston commented on #43
@zrose584 I have noted it, but this is a decently large packaging feature to implement. Also, it isn't a high priority for me.

The biggest problem right now is installing LLVM inside OBS. Switching to GCC is not an immediate option because we'd have to revert all the LLVM-specific changes and add back GCC-specific patches. There is probably a way to get the proper LLVM version in OBS, but I don't

[2019-12-19 03:30] Eloston commented on #40
I haven't seen this bug affect my build of 79, so I'm going to assume this is a bug specific to the patches that Debian uses, or its dependent packages (in unstable).

[2019-12-19 03:30] #40 closed, assigned to Eloston

[2019-12-19 13:00] ghost commented on #43
@zrose584, PPAs are only for Ubuntu. But the issues I face there would likely also apply to OBS.

[2019-12-19 13:15] ghost commented on #45
I'll retry this from a Debian 10 container, but I was finding that my builds were breaking because of some apparent difference in which files were kept or removed from the two methods of building a source tree. I was using Debian 10 to bootstrap the build for a Ubuntu Bionic PPA since I can't run get-orig-source successfully from a Bionic container as its packages are too old to have the newer mk-

[2019-12-19 14:49] ghost commented on #45
Ok. Tests complete on the ubuntu bionic branch at its latest tag. Here are my findings:

The local source tree created by setup-local-src has the path third_party/breakpad/breakpad/src/common/convert_UTF.c present even though the copyright file has it listed in its Files-Excluded list via a wildcard pattern.

The distribution tarball created by get-orig-source does not have the path third_party/br

[2019-12-19 15:46] ghost commented on #45
@Eloston, while I was waiting on this Debian 10 test to finish, I was reviewing the script again. I guess I don't know why it is happening but in my experiments with setup-local-src I observe some of the Files-Excluded wildcard patterns are still matching files after the script has run. If the script was working correctly, shouldn't these patterns fail to resolve to a file path?

These are the one

[2019-12-19 16:08] ghost commented on #45
Ok, Debian 10 test is complete. Same outcome as the Bionic test I did above. I'm not sure what should be done here to resolve this difference but it's apparent that the build process is currently dependent on the seemingly incorrect behavior of the remove_copyright_excluded script. Evidently the fact that it is not removing certain files has allowed setup-local-src to silently allow builds to cont

[2019-12-19 16:10] ghost commented on #45
I will have to workaround this issue for my PPA via a custom method of creating the tarball I require. Still I think this needs to be resolved in some manner, but I'm not sure how because I am not very familiar with chromium's overly complex build system.

[2019-12-20 13:13] zrose584 commented on #43
@Eloston

I have good news. While ASFAIK it is (currently) not possible to use external repositories like [apt.llvm.org](https://apt.llvm.org), it is possible to mirror them.
I created a `_service` file which downloads all required .debs from `apt.llvm.org`.
Then the `build.script` can be used to put those .debs in the correct place, so they get uploaded.

It is then possible to use this mirror, a

[2019-12-20 14:35] ghost commented on #43
@zrose584, not at all. The issue I've run into is documented in #45.

[2019-12-21 08:24] zrose584 commented on #43
After switching from clang-10 to clang-9, it worked.

[2019-12-22 00:02] #45 closed, assigned to nobody

[2019-12-22 00:06] Eloston commented on #45
Alright, I fixed the script to properly handle files now using `os.walk()`. Apparently `glob('**')` didn't traverse files, but `rglob('*')` will. However, I found that `os.walk()` will also handle dot files (i.e. files prefixed with `.`) and can skip traversing directories, thus its use in my implementation.

I also removed the `convert_UTF` exclusion. If you encounter any other exclusion issues,

[2019-12-22 00:11] Eloston commented on #43
@zrose584 Awesome, thanks for that script. Do you have a complete process that uses that script?

Also, I'd recommend using LLVM 8 for now since that is the newest available in Buster backports. Unless you think there are some benefits in LLVM 9 that are significant enough for use to use `apt.llvm.org`?

[2019-12-22 01:08] ghost commented on #45
Ok. I'll try doing a new build in awhile to see if there's any other missing files that break the build.

[2019-12-22 09:55] zrose584 commented on #43
Not sure if I understand your question, but after using  `updaty.py`, all you have to do is run `osc commit -m "my_message"`.
ofc. this requires a working copy of the repo, and the credentials.

Btw, one could consider using an CI to automatically update the obs-repo, when a new tag is published. I did some tests for this a while ago, see [.travis.yml](https://github.com/zrose584/ungoogled-chromiu

[2019-12-22 23:02] Eloston commented on #43
That's also useful to know, but I meant the script for building ungoogled-chromium.

Sure, it'd be nice to see a specific example.

Fewer entities to trust; buster-backports is built by Debian. Not sure who specifically maintains `apt.llvm.org` (I think I've seen some people with Google emails signing the binaries IIRC. I still trust them, but IDK about others). Otherwise, it's possible but unlike

[2019-12-23 03:28] ghost commented on #43
@Eloston, would it be advisable to create a separate issue for Launchpad PPAs? I found it not too difficult to get it going. I'll see what other issues I find that need to be streamlined. It should benefit any efforts for OBS as well.

[2019-12-23 13:40] zrose584 commented on #43
hmm.. the CI could do that, OBS will detect when other packages it depends on are building, and waits for them.

It's actually quite simple, see the new [.travis.yml](https://github.com/zrose584/ungoogled-chromium-debian/blob/debian_buster/.travis.yml).

I think thats an oversimplification. Debian concists out of many small teams. Some teams might do a bad job.

Also there is a trust-chain: the de

[2019-12-23 15:34] ghost commented on #43
@zrose584, true but OBS has its own problems. I've found launchpad to be fairly easy to use if you already know how to setup Debian style packages. OBS appears to be more complicated to setup, probably due to its more generic design. Either way my work towards a PPA will also fix issues for OBS as far as the build process is concerned.

[2019-12-23 17:55] ghost opened #48 "polymer build failure"
Ok, so I tried a build with the default master branch to see if there were any other build failures. Now I am getting this error:
ninja: error: '../../third_party/catapult/third_party/polymer/components/polymer/polymer-micro.html', needed by 'gen/content/browser/tracing/about_tracing.html', missing and no known rule to make it

I don't know what this file is but it is included in the file tree pri

[2019-12-25 01:00] #48 closed, assigned to nobody

[2019-12-25 01:03] Eloston commented on #43
@ryu0 We should probably move discussion of PPAs to a new issue.

[2019-12-25 09:25] zrose584 commented on #43
All one has to understand is that each package is represented by a seperate svc repository, and that `osc` is basically a wrapper around svc.

@Eloston
If you have any OBS-related questions please just ask them, happy to help.
I think official OBS could be setup in less than 1day, since a working example alredy exists!

Btw, each branch of this repo should get its own package (within the same proj

[2019-12-25 15:46] ghost opened #51 "Use of Launchpad Personal Package Archives (PPAs)"
It would probably be a good idea to have an official system for automated builds. Given that, this is one of the available options but it comes with some limitations.

1. It is only available to Ubuntu derivations.
2. It can only use packages from official repositories or an existing PPA.
3. It has an initial limit of 2GB for source and binary packages combined.

To setup a PPA and build packages,

[2019-12-26 17:32] ghost opened #52 "Further refinement of source targets"
Since you fixed the bug with `remove_copyright_excluded`, I have been examining how close the resulting source code trees created by `setup-local-src` and `get-orig-source` are. They are nearly identical now and I am going to see if I can make them 100% identical.

If this is successful I think I can modify `get-orig-source` to replace the more expensive method of removing the copyright exclusions

[2019-12-26 21:39] ghost commented on #52
With a small patch to `setup-local-src`, the resulting source trees are now equivalent. As it stands at this point, `setup-local-src` takes about 236 seconds and `get-dist-source` takes about 2594 seconds. I will see where my optimization efforts take me.

[2019-12-26 22:32] ghost commented on #52
Ok, so my optimization results in `get-dist-source` taking about 1403 seconds. I'll try to clean it up some before I commit it.

[2019-12-26 23:29] ghost commented on #52
And done. That should be the last of the changes I expect to make for now.

[2019-12-30 23:28] Eloston commented on #52
Cool, thanks for fixing this up! I'm guessing the instructions in "Building via source package" should be updated too, e.g. specifying the uploader?

[2020-01-01 08:06] ghost commented on #52
Yes, that should probably be specified but it's an optional step for most people. It's mainly relevant for uploading to a package building service. I will see about updating the documentation.

[2020-01-01 09:16] ghost commented on #52
Ok, done. See #53. Side note, do you intend to continue updating the Bionic branch? Upstream officially supports it for 3 years on Desktop while some of the other derivatives like Linux Mint support it for the full 5 years. I can see about updating that once my documentation changes are accepted.

[2020-01-01 10:08] ghost commented on #51
@Eloston, I'm already planning to maintain my own PPA since Ubuntu decided to drop chromium as a regular package. I am also including some extra packages for easier updates to extensions I use regularly because automatic updates no longer function due to all the ungoogling effort so I figure the next best thing is to use the package manager to update them.

If this is something you would be intere

[2020-01-01 10:22] ghost opened #54 "Delete ubuntu_cosmic branch"
I think it's time the delete the ubuntu_cosmic branch as it is now EOL.

[2020-01-01 12:19] berkley4 opened #55 "Build error"
Using **debian amd64**, building fails with.......

[code]

This looks like it's related to https://github.com/ungoogled-software/ungoogled-chromium-debian/commit/462460d7f50cc01d3077710e641fc41e45f2c42f, as the following change to debian/rules allows the build to continue....

[code]

[2020-01-07 23:44] #55 closed, assigned to nobody

[2020-01-07 23:54] Eloston commented on #51
Any PPA is better than what we have right now, but I'm not interested in providing monetary support.

[2020-01-08 02:12] ghost commented on #51
Ah, that's not what I meant. I was talking along the lines of an affiliation so maybe it could be considered an official source of binaries.

[2020-01-08 03:41] Eloston commented on #51
Oh I see, yeah I'd be fine with that.

[2020-01-08 03:44] Eloston commented on #54
Done.

[2020-01-08 03:44] #54 closed, assigned to nobody

[2020-01-08 04:13] ghost commented on #51
For now I'm working on updating the eoan and bionic branches to my recent changes to buster. This is so they can be ready to be built for the PPA, at least in theory.

[2020-01-08 04:34] ghost commented on #52
Since the related pull request was accepted I will close this issue.

[2020-01-08 04:34] #52 closed, assigned to nobody

[2020-01-08 06:38] ghost opened #62 "Update debian_buster to 79.0.3945.117-1"
I would attempt this myself but I'm not sure how to refresh the patches in a way that makes the patch validator happy. I'm stumped as to what it is complaining about.

[2020-01-08 12:30] ghost commented on #51
That's done. Now I'll begin test builds of both in my new PPA. If it's successful then I'll give you the URL.

[2020-01-08 23:21] ghost commented on #51
The builds I sent out for arm64 have failed due to a missing include so it looks like I will need to patch for these. How should I include a patch for minor build problems? Any preferences?

[2020-01-08 23:23] #62 closed, assigned to nobody

[2020-01-08 23:43] Eloston commented on #51
Well since we just tagged a version for `79.0.3945.117-1`, we could add the patch and then increment the distro revision number in `debian/distro_revision.txt`. It's a little tedious, but it ensures we are clear about what changes we are including in our builds (so others can reproduce without issue).

For testing purposes, it might be easier to increment the distro revision first, then keep commi

[2020-01-08 23:47] ghost commented on #51
Ok. Well, for now, give me some time. I need to ensure that it successfully builds before I submit a final patch. Honestly this only appears to be a problem for arm64 so we don't need to increment it if you don't want to at this point in time. How many users actually would use this architecture?

[2020-01-08 23:50] Eloston commented on #51
In that case, we can just commit the patch but not have a corresponding tag until the next version comes out (i.e. Chromium updates or we add some feature).

[2020-01-09 00:11] ghost commented on #51
It's odd though. armhf just failed as well for the same problem. amd64 has no issues here. I guess it's because the implicit includes are different and therefore it fails for this place because it was not explicitly included.

[2020-01-09 11:06] ghost opened #65 "Delete ubuntu_disco branch"
Ubuntu Disco Dingo has reached its EOL. I advise deleting it as there is no point in updating it anymore.

[2020-01-09 11:25] ghost opened #66 "Delete debian_stretch branch"
It's been 10 months since this branch was last updated. It doesn't appear to me that anyone has any interest in keeping this branch updated so it should probably be deleted.

[2020-01-09 17:46] ghost commented on #51
I have resolved the issue and am working on making the first official builds of this PPA available. But sheesh the armhf and arm64 build servers are significantly slower than the amd64 ones. They take at least twice as long to finish.

[2020-01-10 13:01] ghost commented on #51
Ok so I think I'm as prepared as I'll ever be for this. This is the PPA.

https://launchpad.net/~braewoods/+archive/ubuntu/ungoogled-chromium

[2020-01-12 22:49] Eloston commented on #66
Thanks for the heads up.

[2020-01-12 22:49] #66 closed, assigned to nobody

[2020-01-12 22:52] Eloston commented on #65
Done.

[2020-01-12 22:52] #65 closed, assigned to nobody

[2020-01-12 23:24] #51 closed, assigned to nobody

[2020-02-13 18:24] bloatmode opened #75 "keepassxc-browser won't connect to KeepassXC"
I'm running Ubuntu 18.04 LTS, and I installed both ungoogled-chromium and keepassxc-browser from your [PPA](https://launchpad.net/~braewoods/+archive/ubuntu/ungoogled-chromium?field.series_filter=bionic).
Keepass-XC was installed from the official [PPA](https://launchpad.net/~phoerious/+archive/ubuntu/keepassxc).

I'm getting the following error when clicking on the extension's icon:

Trying to co

[2020-02-13 23:28] ghost commented on #75
Good find. I hadn't yet tested it myself as I don't often use chromium lately. I have traced the issue to a permissions issue. It seems the extension ID is different for this case where the extension is unpacked.

You can workaround the issue temporarily by adding the extension ID to the `~/.config/chromium/NativeMessagingHosts/.org.keepassxc.keepassxc_browser.json` file's allowed_origins array bu

[2020-02-13 23:44] ghost commented on #75
In the meantime I will apply the patch I have come up with to my own build of keepassxc. You can use it if you wish but that is up to you.

[2020-02-13 23:53] bloatmode commented on #75
Can't you just set the extension ID appropriately in the appropriate file in your keepassxc-browser package?

[2020-02-14 00:46] ghost commented on #75
No. You can't set the extension ID directly from the extension itself. It's generated by Chromium using an algorithm that involves hashing the directory name that the extension is in. So the only real solution is to update keepassxc with the new ID.

It deviates from the original extension ID because it is provided as an unpacked extension instead of as a crx bundle. Their IDs are generated differ

[2020-02-14 12:43] ghost commented on #75
So upstream has rejected the patch because the "unpacked extension ID is unique". It seems consistent across different chromium versions in my packaging so what I am going to do is just provide a patched version of keepassxc in the ungoogled-chromium PPA so people can have both in sync and have them work together properly. It should be available to you shortly. That should resolve the issue for yo

[2020-02-14 12:49] bloatmode commented on #75
This is not what I meant. I'm not familiar with how packaging works in Ubuntu, but couldn't you make your install script edit `~/.config/chromium/NativeMessagingHosts/.org.keepassxc.keepassxc_browser.json` when installing package keepassxc-browser?

[2020-02-14 12:57] ghost commented on #75
Yes though that has practical problems because home directories are at variable locations. Even if there weren't packaging challenges there's still the problems I observed in testing keepassxc integration. keepassxc deletes or overwrites the browser integration files like `org.keepassxc.keepassxc_browser.json` whenever the browser integration settings are saved or otherwise modified regardless of

[2020-02-14 13:31] ghost commented on #75
Ok, it's done. You can install the patched keepassxc from the PPA now. My tests reveal that it should now connect properly.

[2020-02-14 15:10] ghost commented on #75
@Eloston please close this issue. I believe it has been resolved.

[2020-02-16 05:04] #75 closed, assigned to nobody

[2020-02-16 15:20] ghost opened #76 "Upgrading to 80.x"
It seems upstream still hasn't pushed any revisions to their chromium repository so I think I will try exploring the upgrade myself. Either way we may want to track the progress here.

[2020-02-17 11:56] ghost commented on #76
I can't finish this. I don't have time to deal with whatever upstream choose to do. So let's wait for that I guess. Though here are some basic findings:

Jumbo will have to be removed.
`fixes/implicit-headers.patch` was applied upstream so it can be removed.
`fixes/naming-collision.patch` was applied upstream so it can be removed.

For some reason I was getting errors from ninja about missing file

[2020-02-19 11:31] zrose584 commented on #43
@Eloston
Did you encountered another problem or didn't you have enough time yet?

[2020-02-19 13:40] ghost commented on #76
Ok, seems chromium 80 has landed in Sid but there's still nothing about it in their package repository. Any suggestions how we should proceed? @Eloston

[2020-02-19 19:49] berkley4 commented on #76
If it's any help, the debian directory can be downloaded via https://deb.debian.org/debian/pool/main/c/chromium/chromium_80.0.3987.106-1.debian.tar.xz

[2020-02-20 00:24] ghost commented on #76
I'm aware but it would probably be better to wait for the upstream git to be updated first so we can have proper history updates.

[2020-02-22 22:04] ghost commented on #76
It's finally landed. I will try to make this work shortly.

[2020-02-27 09:13] Eloston commented on #43
@zrose584 I lost interest and I don't have time either. I don't expect to pick this up anytime soon.

[2020-02-28 20:03] zrose584 commented on #43
@Eloston Hmm.. I see..
What do you think about adding the [.travis](https://github.com/zrose584/ungoogled-chromium-debian/blob/debian_buster/.travis.yml) hook, and I give you the credentials for my OBS account?
You'd only have to add these as [hidden enviroment variables](https://docs.travis-ci.com/user/environment-variables/#defining-variables-in-repository-settings) (`OSC_USER` and `OSC_PASS`).

[2020-03-01 08:11] Eloston opened #80 "Change base branch to a new branch "debian_sid""
We should change the branch that tracks upstream (Debian) be a new branch called `debian_sid` that targets Debian sid. This will better match the target Debian version for upstream's `master` branch, and makes it easier separate changes specific to stable Debian versions from testing or unstable.

The current Debian stable branch `debian_buster` should track this new `debian_sid` branch. Also, Ubu

[2020-03-01 23:48] ghost commented on #80
Agreed. Perhaps it would be better to create it now and redo the work I did for buster on it so that the buster specific workaround I had to apply won't be part of it. Also it should be called debian_sid or so since this is the permanent name for Debian's bleeding edge repo.

[2020-03-01 23:48] braewoods commented on #80
Also it should be called debian_sid or so since this is the permanent name for Debian's bleeding edge repo.

[2020-03-04 02:02] Eloston commented on #80
@braewoods I like that idea. I'll publish a new branch called `debian_sid` that contains the same code as `debian_buster` right now (with the README modified slightly).

Feel free to publish a new PR for `debian_sid`. I think we can keep the current `debian_buster` PR and simply update it.

[2020-03-04 02:23] ghost commented on #80
Ok. Let me know when it's ready and I can work on redoing the work so I know what can be omitted from the new branch.

[2020-03-04 02:52] Eloston commented on #80
@braewoods Should be good to go. FYI in `debian_sid`, I removed some patches that seemed to be buster-specific, but I didn't do a thorough check to see if I removed all the buster-specific changes.

[2020-03-04 03:00] ghost commented on #80
Ok. I plan to rebase debian_sid on clang 9 because clang 10 is still not officially released. I think it's better to use 9 for a bit longer. I intend to redo the whole work due to the changes that have been made. I need to change how I merged the last upstream changes.

[2020-03-04 03:05] ghost commented on #80
@Eloston One thing I'd like to ask you though. The upstream added patches to "disable" whatever this third_party/catapult is but we have patches that apply under it so we may need to tweak the copyright exclusions for it. How do you think it should be handled? To get it to build before I had to remove the exclusion entirely without a replacement.

[2020-03-04 13:15] ghost commented on #80
Ok, the update to debian_sid is ready to be reviewed. The main thing that ended up being unnecessary was the changes to re2. Once this is approved I plan to backport it to update the other branches.

[2020-03-06 06:04] Eloston commented on #80
This is one component of browser tracing/profiling. Tracing/profiling is used in DevTools and a few other places. There was an issue about reverting Debian's choice to disable tracing/profiling either in this repo or the main repo, so we should continue to honor that request. That means we should ensure that Catapult remains enabled.

[2020-03-06 06:39] ghost commented on #76
Resolved by merging to debian_sid branch.

[2020-03-06 06:39] #76 closed, assigned to nobody

[2020-03-06 06:43] Eloston commented on #80
Fixed Catapult with 79c78c3bcaef9c50471284aaf9ad33b880c92035

[2020-03-06 06:43] #80 closed, assigned to nobody

[2020-03-09 10:34] ghost opened #90 "Create ubuntu_focal branch (may want to wait until release)"
I thought I would leave this as a reminder that we will need a branch for ubuntu_focal in the near future.

[2020-03-26 02:58] TotalCaesar659 opened #95 "Error message when loading JSON file for extension"
When I create JSON file in /usr/share/chromium/extensions/ as said [here](https://ungoogled-software.github.io/ungoogled-chromium-wiki/faq#installing-the-crx-file) (External Extension Descriptor), browser from [PPA](https://launchpad.net/~braewoods/+archive/ubuntu/ungoogled-chromium) says "Failed to load extension from: /usr/share/chromium/extensions/[extension-id].json. Manifest file is missing o

[2020-03-26 02:58] marksolaris commented on #90
I'm using this recipe to compile on focal

https://github.com/Eloston/ungoogled-chromium/issues/978

[2020-03-26 03:18] ghost commented on #95
The Debian version is based on the upstream package which was designed to only work with unpacked extensions. CRX files are not an unpacked extension. Best advice I can give is to unpack it to a directory as that is what it is expecting to find.

[2020-03-26 13:44] TotalCaesar659 commented on #95
I've done more tests. This method with CRX works alright, it just needs to be polished. The only problem is splash windows with error message, it's annoying to skip 20+ windows for all extensions.
Is it possible to fix this? Maybe even with separate flag (--load-crx-extensions or smth like this).

[2020-03-27 20:03] ghost commented on #90
I'll get started prototyping a new branch for focal after the beta freeze (April 2nd). That should give enough time to have it ready by launch day.

[2020-03-28 01:05] marksolaris commented on #90
There's a gotcha with focal/recent Chromiums, either the Intel GPU mesa device drivers aren't there yet, or it's the xrandr changes that are plaguing window managers right now. They have my build showing blank white ungoogled-chrome windows when displaying to another bionic host. It renders OK locally on the focal host, but set the $DISPLAY to the bionic and the window shows blank white for any co

[2020-03-28 23:04] Eloston commented on #90
FYI I pushed a new `ubuntu_focal` branch that points to the current tip of `debian_sid`.

[2020-03-28 23:09] ghost commented on #90
Ok. I'm trying to build debian_sid with Clang 10 before Focal gets serious.

[2020-03-29 10:32] marksolaris commented on #90
Saying goodbye to this package and re-testing
[code]
https://launchpad.net/ubuntu/focal/+package/xserver-xorg-video-intel
[code]

Nope, no change, when remote viewed on a 18.04 X11 it's still a blank white window with unrendered but active HTML elements.

Note I doubt this is ungoogled-chromium's fault, but noting it here for the google.

[2020-04-01 22:53] #90 closed, assigned to nobody

[2020-04-02 23:38] marksolaris opened #111 "focal : clang-10 used before it's installed by pkgProblemResolver"
The `clang-10` tool is used in the debian/rules file, before it's eventually installed during the `mk-build-deps` process. It seems a bit chicken-and-egg. The software eventually ends up being installed, but a restart of the whole build process is required since unknown things were happening with the use of missing binaries. At the very least the README could use language to say restart again if t

[2020-04-05 02:39] ghost commented on #111
rules is a Makefile and that error is harmless as what it is used for isn't used except during the actual build where it would already be installed by mk-build-deps. The source upload instructions also specify to disable dependency checks because none of them are required to build the resulting tarball and just wastes time otherwise.

[2020-04-05 23:04] Eloston commented on #111
Hmm I made a questionable decision to include `setup-debian` Makefile rule inside of `debian/rules` because `debian/rules` should only be used to create `.deb` packages (EDIT: and source packages I think), while `setup-debian` is not really a part of the build.

Perhaps a better implementation would be to have a `setup.sh` script alongside `debian` that copies `debian` to a user-specified destinat

[2020-04-05 23:36] ghost commented on #111
@Eloston while you're at it would it make sense to make the branch's distro also a text file? It would simplify the setting up of new branches.

Edit: already did it myself in my latest PR

[2020-04-06 08:51] ghost commented on #111
I think it would be best if the makefile targets at the end, get-orig-source, setup-debian, and setup-local-src were all moved to an external shell script in some capacity. This would allow them to reuse a lot of their overlap while being moved out of the build scripts. @Eloston I can work on this after you approve my latest PRs.

[2020-04-08 09:16] v17564 opened #118 "Debian Stretch: syntax error in "debian/rules setup-debian""
Hello. I find this error:

make: clang-10: No se encontró el programa

python3 -B debian/ungoogled-upstream/ungoogled-chromium/utils/patches.py merge -p debian/patches debian/ungoogled-upstream/ungoogled-chromium/patches
  File "debian/ungoogled-upstream/ungoogled-chromium/utils/patches.py", line 195
    f'--patch-bin "{args.patch_bin}" is not a command or path to executable.')

SyntaxError: inval

[2020-04-08 09:53] v17564 opened #119 "Debian Stretch: syntax error in "debian/rules setup-local-src""
I find this error:

$ ./debian/rules setup-local-src
make: clang-10: No se encontró el programa
test -d ../download_cache || mkdir ../download_cache
python3 -B debian/ungoogled-upstream/ungoogled-chromium/utils/downloads.py retrieve -i debian/ungoogled-upstream/ungoogled-chromium/downloads.ini -c ../download_cache
INFO: Downloading "chromium" to "chromium-80.0.3987.162.tar.xz" ...
INFO: Downloadin

[2020-04-08 10:02] v17564 opened #120 "git parameter error --recurse-submodules"
Hello. I use a MX Linux based on Debian 9 (Stretch) and my version of git is 2.11.0.

In the installation step:
git -C ungoogled-chromium-debian checkout **--recurse-submodules** TAG_OR_BRANCH_HERE

i need change for:
git -C ungoogled-chromium-debian checkout **-b** TAG_OR_BRANCH_HERE

[2020-04-08 10:43] ghost commented on #120
We don't support Stretch anymore. The branch was deleted some time ago. I assume the other issues are also due to software being too old.

[2020-04-08 10:44] ghost commented on #120
It appears newer releases of MX Linux are based on Debian 10. Is there some reason you can't just upgrade to that?

[2020-04-08 11:34] v17564 commented on #120
There are almost 1 reason: i use a program that isn't supported in new MX-19, easyMP3Gain.

And also need reinstall all, there isn't a direct upgrade from MX-18 to MX-19.

[2020-04-08 13:13] ghost commented on #120
I see. The best I could find for a replacement are tools for setting replaygain such as bs1770gain which is in Debian 10.

[2020-04-11 04:00] Eloston commented on #118
We don't support Stretch anymore, and we don't have any code in this repo that is compatible with Stretch. Debian also seemed to drop support for Stretch (latest version is 73), so I'd highly advise that you upgrade to Buster.

If you are okay with an old version of Chromium, I think the latest Stretch version we have is 72.0.3626.122-3.stretch1.

[2020-04-11 04:00] #118 closed, assigned to nobody

[2020-04-11 04:01] Eloston commented on #111
@braewoods

That would be pretty helpful, thanks!

[2020-04-11 04:05] Eloston commented on #119
Closing for same reasons as #118.

[2020-04-11 04:05] #119 closed, assigned to nobody

[2020-04-11 04:07] Eloston commented on #120
Closing for same reason as #118.

[2020-04-11 04:07] #120 closed, assigned to nobody

[2020-04-16 14:56] ghost commented on #43
There's been a new development with debian's upstream packaging. They have patches to enable building on buster's LLVM 7 so I should be able to make it buildable without needing to enable another repository. This should help greatly with enabling usage of OBS.

[2020-04-17 13:16] ghost opened #126 "Delete ubuntu_eoan branch after Chromium 83"
I think this would be the best time to delete the branch as Focal will be official by then and there won't be much if any support left for Eoan by that point.

[2020-04-17 15:13] zrose584 commented on #43
Is using the third-party repo `apt.llvm.org` reallly _that_ evil in your eyes?
I'd expect a llvm-9 build to perform better than a llvm-7 build.

Also, OBS deployment alredy works (as described [above](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/43#issuecomment-567919931)).

I provided:
  - a working OBS project for debian10
  - .travis hook to automate rebuilding it
  -

[2020-04-17 21:17] ghost commented on #43
No but it does introduce an extra external dependency that can create new maintenance hassles down the road. We already have to rely on Debian for part of the dependencies so I just consider it simpler if we can keep it entirely within their ecosystem. With their official packaging moving to LLVM as well it is now much easier to rely on the LLVM that ships with Buster. I was planning on looking in

[2020-04-18 07:09] zrose584 commented on #43
Isn't there the risk of llvm-7 support laaging behind their master/sid branch?

Where can I find them? I only found [this](https://salsa.debian.org/chromium-team/chromium/-/tree/44b7d2fbf0d58f407f91bf05f96eaee3adeb97de/debian%2Fpatches%2Fclang), but there must be more, right?

[2020-04-18 14:07] ghost commented on #43
I don't think so since the patches and LLVM 7 packages are provided by Debian themselves. See here: https://salsa.debian.org/chromium-team/chromium/-/blob/master/debian/patches/buster/clang7.patch

[2020-04-18 22:22] Eloston commented on #43
Also that LLVM 7 patch looks buster-specific, so unstable probably uses its default version of LLVM. Interesting that the maintainer decided to switch to LLVM for a stable release; maybe it became too tedious to keep maintaing GCC patches.

To expand on what @braewoods mentioned, removing the need to add extra APT repos makes it easier to use automated packaging systems that might not support extr

[2020-04-19 03:33] ghost commented on #43
Incidentally I also discovered another good reason to stay with the distribution LLVM: support for arm architectures. The LLVM binary repositories only provide i386 and amd64 architecture support. We've had some interest in arm support so this is something I would like to include.

[2020-04-19 03:55] ghost commented on #43
I have managed to start a test build on OBS for Debian Buster. There's issues with getting Ubuntu setup with OBS that I cannot resolve myself so I will see if I can get the administrators to enable the Ports repository I need. Here's the repository link for the buster test:

https://build.opensuse.org/project/show/home:braewoods:ungoogled-chromium:buster

[2020-04-19 16:59] zrose584 commented on #43
I see you build the debian source package (as described [here](https://github.com/ungoogled-software/ungoogled-chromium-debian/#building-via-source-package)) and upload that to OBS.
While this woks, I found it quite tedious.
Not sure if you noticed, but [my OBS Project](https://build.opensuse.org/package/show/home:zrose584/ungoogled-chromium) uses the the `build.script` file to [_directly_](https:

[2020-04-19 17:38] ghost commented on #43
Ok. This is definitely an improvement. I think it needs some further work but I didn't know this was an option. I assumed I was going to have to upload a separately prepared tarball for every branch. This should also mean it will be possible to support all supported Debian, Ubuntu, and Arch flavors with one package setup.

Side note, I've been finding the limitations of the PPA system to make OBS

[2020-04-20 07:02] zrose584 commented on #43
One solution would be to the mirror (not build!) the relevant packages into a seperate OBS project.
That project will then be used to resolve the missing packages.
The [above comment](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/43#issuecomment-567919931) explains how I did that for `apt.llvm.org`, it should work just the same for `ports.ubuntu.com`.
If you want I will up

[2020-04-20 19:26] ghost commented on #43
As it turns out it's enabled on newer Ubuntu repositories on OBS but not 18.04. I've been seeing if I can get it enabled by contacting the admins. If that works out then it's less work for us in the long run.

I think I am going to want to create a setup to generate the files necessary for package checkin for OBS. This seems the best option to handle it in the long run so updates will be less pain

[2020-04-21 03:47] ghost commented on #43
I've been experimenting with a generation script to see how well it works with Sid and Buster as separate packages with the only project repository enabled the one it is intended for. This should give an idea of how feasible this division is. See here:

https://build.opensuse.org/package/show/home:braewoods:ungoogled-chromium/ungoogled-chromium-buster
https://build.opensuse.org/package/show/home:b

[2020-04-21 07:46] zrose584 commented on #43
looks good to me!

With `generation script` you mean something similar to my [update.sh](https://build.opensuse.org/package/view_file/home:zrose584/ungoogled-chromium/update.sh), right?
I think it's a good idea to include such a script in the OBS-repository itself, since this allows for easy [integration scripts](https://github.com/zrose584/ungoogled-chromium-debian/blob/debian_buster/.travis.yml)

[2020-04-21 17:11] ghost commented on #43
Yes but mine generates the whole template set each time using information from a properly cloned git repository. It outputs to a given directory path so it could be used to regenerate your locally checked out OBS stuff and then you could submit it to OBS using a check in. It automates most of the work except submission to OBS.

[2020-04-22 03:50] ghost commented on #43
Regarding automation it appears that you need the password of the user you are using to create builds, etc, and that there is no other way to authenticate with the service. If this is the case I would suggest we create an account just for this purpose. Then we would need some way to safeguard the access credentials so they don't get leaked out of the automation system.

Of course we could always j

[2020-04-22 07:12] zrose584 commented on #43
Please see [what](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/43#issuecomment-568247492) I wrote [above](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/43#issuecomment-592704501)..

Note that by using this method, only you (and maybe `travis-ci.com`) can see the credentials.
Also note that the travis hook is only executed if `tag IS present`

[2020-04-22 23:07] ghost commented on #43
@Eloston I would like to try to setup automatic dispatch to OBS but I don't think I can do that with pull-requests since it seems to require collaborator access. Is there any way I could receive that just for this repository? It would also mean I could approve basic pull-requests.

[2020-04-25 18:53] #111 closed, assigned to nobody

[2020-04-25 20:00] Eloston commented on #43
@braewoods

Sounds good to me. I just invited you as a collaborator with Maintain access.

[2020-04-26 02:32] ghost commented on #43
@Eloston I discovered I am going to need you to create some secrets to hold the OBS credential secrets. GitHub doesn't allow collaborators to create them. How shall I send the details to you?

[2020-04-26 03:26] Eloston commented on #43
@braewoods I'm trying something new so let's move this discussion about repo access and settings to https://github.com/orgs/ungoogled-software/teams/debian. We can also use it as a development forum (somewhat like the use-case for Gitter but hopefully more effective).

EDIT: Just realized it by default hides the entire team from the public. It works for this situation but ideally I'd like to make

[2020-04-26 04:34] wchen342 commented on #43
@Eloston Adding to what @braewoods said, I also mentioned before that if we are going to set up some cross repository CI check then an account with write permission to all repos under `ungoogled-software` will be necessary, so I will suggest create something like a bot account for all CI/auto-build purposes.

BTW I think teams are meant to be only inside an organization so there is no way to make

[2020-04-26 07:32] ghost commented on #43
@Eloston I have setup a github workflow here that uploads to OBS on pushes. It can't be done for pull requests due to the risk of leaking secrets but it should be a good start for publishing officially initiated builds. I will see about extending it to official tags too.

EDIT: I have managed to get it to work for an experimental tag I published. Whether it'll work with the normal method used to p

[2020-04-26 08:25] ghost commented on #43
With some more testing it should be possible to close this issue after we know the automated builds are working. They are published here:

Testing releases: https://build.opensuse.org/project/show/home:ungoogled_chromium:testing
Published releases: https://build.opensuse.org/project/show/home:ungoogled_chromium

[2020-04-28 19:05] ghost commented on #43
TIL. The order in which an OBS' project's repository's paths appear changes where packages are picked from first. I had to put the update channels before the standard channels to resolve a build error with Bionic. I went ahead and applied the correct ordering to all these kinds of repositories as I don't think it's a good idea to just leave it at that as I expect it to cause more issues later if l

[2020-04-29 03:33] #43 closed, assigned to nobody

[2020-05-11 18:58] ghost commented on #126
Branch and tags deleted.

[2020-05-11 18:58] #126 closed, assigned to nobody

[2020-05-23 21:50] 4abab opened #146 "Build with Wayland Ozone Support"
I would like to make a personal build with wayland ozone support so that I can remove x11/xorg packages from my system. What exactly do I need to change from the build instructions in README.md to do this?

**Edit: If anyone cares to work on this or research it then please report your results here. Thanks.**

[2020-05-25 07:47] ghost commented on #146
We don't support that nor does the upstream packaging we're based on. @Eloston Is this something we would want to look into adding as some kind of optional flavor?

[2020-05-26 14:05] ghost opened #147 "Update to Chromium 83"
It has landed in our upstream but upstream Debian has not yet updated. I intend to wait until then as we need to maintain history compatibility to a large degree with them. If anyone feels like trying to do this earlier then please do so but also please leave a comment in this issue if you are. I would just ask you make all patch updates in a single commit so we can easily revert it later when Deb

[2020-05-26 19:10] Eloston commented on #146
I like the idea of supporting Wayland Ozone, but I don't know how we'd implement an "optional flavor". Should it be included as a configurable build flag somehow? A separate branch (maybe for `debian_sid` only, otherwise we'd have too many branches)? A separate repo?

[2020-06-19 12:22] ghost commented on #147
First attempts at updating to 83 have landed in Debian upstream. But the resulting builds failed due to some ICU issue.

[2020-06-22 11:12] ghost commented on #147
Another was uploaded and failed due to RE2 issues. Nothing in their VCS git yet.

[2020-06-22 20:01] Eloston commented on #147
Is it perhaps related to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=960361 ?

Also, are you updating Debian sid or buster?

[2020-06-22 21:20] ghost commented on #147
I'm not doing either at the moment. I was tracking the progression of their work.

[2020-06-23 15:27] ghost commented on #146
If anyone cares to research this feature to know what we would have to do to support it then please do so. I don't have any interest in it but I am open to the possibility if it doesn't create a logistics nightmare. My main concern is that X11 and Wayland support are often mutually exclusive so it would likely require separate packages to work.

[2020-06-24 20:50] ghost opened #152 "[ubuntu_bionic] See if certain system libraries can be reinstated"
I was pondering this possibility while looking through the work that went into buster. It may be possible even though bionic is older.

[2020-06-24 23:23] Eloston commented on #152
I think it's possible, considering they're roughly the same age. Would be a nice touch.

[2020-06-25 17:40] jstkdng commented on #146
You just have to add these flags.
https://github.com/jstkdng/ungoogled-chromium-archlinux/blob/2b2d37399eeb50e40ef1574a73baddda13a17d67/PKGBUILD#L206
to enable ozone. You should probably add them to another branch.

[2020-06-26 01:58] #147 closed, assigned to nobody

[2020-06-26 03:30] Eloston commented on #146
@jstkdng Is Ozone's support for Wayland and X11 mutually exclusive? What consequences do these flags have that would warrant a separate branch?

[2020-06-26 03:44] jstkdng commented on #146
Right now you can build with use_ozone and use_x11 but you need some hacks to make it work.

Quoting one of the devs:

Source of comment: https://chromium.googlesource.com/chromium/src.git/+/b19077327047f228468ed6ec29b7465aeeed130c

Until then, another branch should be used to avoid breaking stuff.

[2020-06-26 06:44] Eloston commented on #146
I see, thanks for elaborating. In that case, I think @braewoods's point still stands; I don't think there's a good solution without creating a logistical nightmare. Even if we took the easiest route and added some flag to `debian/rules`, it'd create some hassle when merging changes from upstream.

Since Ozone will take over "soon", I think it makes more sense to wait for upstream to enable Wayland

[2020-06-28 04:53] smurphos opened #153 "The instructions to add the OBS signing key break the ability to add PPA's on Mint 19.x and Mint 20."
Hi,

https://software.opensuse.org/download/package?package=ungoogled-chromium&project=home:ungoogled_chromium

This line `sudo wget -nv https://download.opensuse.org/repositories/home:ungoogled_chromium/Ubuntu_Focal/Release.key -O "/etc/apt/trusted.gpg.d/home:ungoogled_chromium.asc"` does not correctly add the key and on subsequently trying to add PPA to the sources the partially installed ungoog

[2020-06-28 05:28] smurphos commented on #153
Hi, on checking this issue on a default Ubuntu install it appears the issue caused by the current instructions is Mint specific.

[2020-06-29 12:52] mpaunovic commented on #153
I'm using Linux Mint 19.3 and I can confirm the issue. smurphos' fix works.

[2020-06-29 19:55] Eloston commented on #153
Duplicate of https://github.com/Eloston/ungoogled-chromium/issues/1071. A new command was proposed upstream in https://github.com/openSUSE/software-o-o/pull/812.

[2020-06-29 19:55] #153 closed, assigned to nobody

[2020-06-30 13:25] jstkdng commented on #146
Well, until that happens you could add something to the README to inform users on how to compile UC with ozone support.

[2020-07-01 19:28] Eloston commented on #146
Either a patch in contrib or a page in [this repo's publicly-editable Wiki](https://github.com/ungoogled-software/ungoogled-chromium-debian/wiki) would be more appropriate places.

To anyone interested, feel free to contribute. For starters, I've added a short page about it here: https://github.com/ungoogled-software/ungoogled-chromium-debian/wiki/Wayland

[2020-07-02 20:49] chaosmonk1 opened #154 "update to 83.0.4103.116-2"
83.0.4103.116-1 frequently crashes.  This is [fixed in  83.0.4103.116-2](https://tracker.debian.org/news/1156424/accepted-chromium-8304103116-2-source-into-unstable/).

[2020-07-02 20:55] chaosmonk1 commented on #154
Actually, I should have read more closely.  The crashes fixed in 83.0.4103.116-2 are caused by ffmpeg 4.3.  I'm experiencing crashes with ungoogled-chromium on Debian stable with ffmpeg 4.1, so I guess the crashes are unrelated.  Still would be good to update though.

[2020-07-03 00:35] #154 closed, assigned to nobody

[2020-07-03 00:36] ghost commented on #154
I already know about this. It takes time for it to become available in their git.

[2020-07-03 12:04] ipeacocks opened #155 "Older releases of Ungoogled Chromium"
Quite often latest Ungoogled Chromium get closed unexpectedly. It's hard to say why, nothing interesting in logs at first sight.
Is it possible to install previous version of Ungoogled Chromium somehow? I can't find previous release.

[code]
Is it possible to leave at least few versions in official repository? Thanks.

[2020-07-03 21:46] ghost commented on #155
It's actually not. It's a limitation most package managers have. They can only have one version of a given package name in a given repository. As for the crashes it's apparently a known upstream issue that we're waiting on a fix from.

[2020-07-05 19:53] davidramiro commented on #155
Exactly, it's being [worked on ](https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1753494.html) and affects exactly the same version as the latest release from the repo you linked.

Right now I am building `81.0.4044.138-1.buster1`. Hopefully that will temporarily fix the issue, if so I could share a Debian Buster amd64 binary when the build finishes, if that helps.

[2020-07-05 21:16] davidramiro commented on #155
Alright, [here](https://kore.cc/deb/ungoogled-chromium_81.0.4044.138-1.buster1_amd64.zip) are the built packages of `81.0.4044.138-1.buster1`. Doesn't crash anymore, at least on two websites where it would crash every single time, 100% reproducible. Just as a temporary fix until upstream gets fixed.

[2020-07-08 18:29] marek141017 opened #161 "Can not install on Ubuntu 20.04 LTS"
Hello
File name contains "focal2". What is this #2?

dpkg -I ungoogled-chromium_83.0.4103.116-1.focal2_amd64.deb:

 Conflicts: libgl1-mesa-swx11, libnettle4, libsecret-1-0 (<< 0.18)
 Breaks: chromium, chromium-browser, chromium-lwn4chrome (<= 1.0-2), chromium-tt-rss-notifier (<= 0.5.2-2)

If I try to execute I got:
# Fatal error in , line 0
# Failed to deserialize the V8 snapshot blob. This can me

[2020-07-10 13:46] ghost commented on #155
Latest patches from upstream should now be out in the build. This is probably going to make a real difference for most.

[2020-07-10 13:48] ghost commented on #161
I don't understand what issue you're having. But crashes are reportedly solved by latest builds.

[2020-07-10 13:59] marek141017 commented on #161
1 Issue:
The installation process ends with error about missing dependencies.
There is not any message though what are missing
"apt-get install -f" simply removes app it doesn't fix anything

Also
 dpkg -I ungoogled-chromium_83.0.4103.116-1.focal2_amd64.deb:

Conflicts: libgl1-mesa-swx11, libnettle4, libsecret-1-0 (<< 0.18)
Breaks: chromium, chromium-browser, chromium-lwn4chrome (<= 1.0-2), chromi

[2020-07-10 16:25] ghost commented on #161
Yes, that's because the packaging scripts create multiple packages. The rest of them are in the repository.

[2020-07-10 16:29] marek141017 commented on #161
Do you mean in Ubuntu official repository or where?

[2020-07-10 16:32] ghost commented on #161
It works correctly when installed from the OBS repository. Evidently we're going to need to write our own setup instructions since people keep getting it confused.

[2020-07-10 17:37] marek141017 commented on #161
You also may want to provide all packages that need to be installed.
Not just one *.deb. That may be more correctly, because some people may not want to add other repos.

[2020-07-10 21:56] #155 closed, assigned to nobody

[2020-07-11 15:44] marek141017 commented on #161
Okay
Yes, by adding your repository I managed to install 3 packages:
ungoogled-chromium*
ungoogled-chromium-common*
ungoogled-chromium-sandbox*

And it works

But I had to leave 71-st version, because it is the last version, where spell check works correctly in slack web app and some others.

In 83.0.4103.116 spell check in slack doesn't work at all. Even in google search page, i need to specially

[2020-07-12 07:05] ghost commented on #152
re2 successfully reinstated.

[2020-07-13 15:57] #161 closed, assigned to nobody

[2020-07-17 09:38] ghost opened #167 "Chromium 84"
It has landed in our upstream. How long will it take to land in Debian upstream now?

[2020-07-17 18:55] #152 closed, assigned to nobody

[2020-07-22 21:13] the-good-stuff opened #168 "build fails on Ubuntu 20.04"
I followed the build instructions but the build fails.
First I get some errors about missing files after I run ./debian/scripts/setup local-src
[ungoogled_chromium1.txt](https://github.com/ungoogled-software/ungoogled-chromium-debian/files/4962676/ungoogled_chromium1.txt)

Then the build fails after dpkg-buildpackage -b -uc
[ungoogled_chromium2.txt](https://github.com/ungoogled-software/ungoogled-

[2020-07-23 19:42] ghost commented on #168
Part 1, totally normal. They're warnings.

Part 2, suggests missing dependencies. Did you forget to install something? You need to run the apt install and mk-build-deps prior to attempting any build setup.

[2020-07-23 22:34] the-good-stuff commented on #168
I made a vm and seems to be working there. So then there's a problem on my side.

[2020-07-24 02:47] the-good-stuff commented on #168
Aparently I should have waited until the end. The build still crashes.
To make sure I downloaded Ubuntu 20.04 iso, built a fresh VM, and followed the build instructions.
Now while building it crashes at some point.
Here's the output:
[error.txt](https://github.com/ungoogled-software/ungoogled-chromium-debian/files/4969976/error.txt)
Again, I followed your build instructions. If there are any other

[2020-07-24 16:46] ghost commented on #168
I didn't catch this the first time but you're having issues because you're trying to build the sid branch against focal. You were supposed to do this with the git checkout command in the instructions. Check out the ubuntu_focal branch and try again.

[2020-07-24 23:34] the-good-stuff commented on #168
That seems to have worked, it went past the failing point now.
Switching to that branch still presents the same issues for my host machine but atm works in the VM.
Thank you for the help!

[2020-07-24 23:34] #168 closed, assigned to nobody

[2020-07-29 22:46] riyad commented on #146
FWIW I tried adapting the patches from Arch Linux linked above.
I managed to build 83.0.4103.116-1.focal3 on Ubuntu focal with the following patch:

[code]

[2020-07-31 20:43] Eloston opened #169 "APNG flicker with APNG-patched libpng"
I've been getting APNG flicker in Chromium for a little while. Warnings match those as discussed in https://bugs.chromium.org/p/chromium/issues/detail?id=752403#c10

Unfortunately, it seems [Debian also patches their libpng with APNG support](https://salsa.debian.org/debian/libpng1.6/-/blob/master/debian/patches/libpng-1.6.37-apng.patch).

The crbug [referenced an Arch issue](https://bugs.archlinu

[2020-08-01 15:40] ghost commented on #169
I honestly never noticed as APNG doesn't have good adoption. Where do you go where this is a significant issue?

Edit: seems my information is old but I still rarely see APNG images.

[2020-08-01 19:24] Eloston commented on #169
I also rarely encounter APNGs, but when the occur it's quite obvious. Off the top of my head, there are two places:

reddit.com uses them for animated post award icons (most likely you'll run into at least one on the frontpage)

parsecgaming.com uses it for the background of the main page, and several other animated images. The broken APNG animation causes the background to be black most of the ti

[2020-08-01 19:27] ghost commented on #169
Which build are you having the issue with? I'm not seeing it with Bionic's build.

Edit: Evidently it's because Ubuntu Bionic doesn't patch PNG with APNG support. But Ubuntu Focal does.

[2020-08-01 19:32] ghost commented on #169
I'll test this with Focal's build once I get around to upgrading in the near future so I can understand the issue better. But is this common enough for us to want to disable it?

[2020-08-01 20:34] Eloston commented on #169
I am using 81.0.4044.138-1.buster1 (am using older version because https://github.com/Eloston/ungoogled-chromium/issues/1081 is blocking my upgrade).

Given that APNG is somewhat adopted (also, reddit and parsecgaming are both modern sites, so they are probably not the only sites that use APNG) and that the rendering problems are pretty severe, I think it's worth fixing.

[2020-08-05 22:00] #169 closed, assigned to nobody

[2020-08-09 07:07] ghost opened #170 "Dependency Installation Failure while building ungoogled-chromium"
While building ungoogled-chromium-debian and running the command 'sudo mk-build-deps -i debian/control', I ran into the following error:

[code]

The code proceeds to uninstall ungoogled-chromium-build-deps, breaking the installation of requirements to build Chromium.

I am not entirely sure if this is a problem for everyone (I am on the latest Debian Sid updates), but I easily fixed this problem

[2020-08-09 23:50] ghost commented on #170
It appears to be an upstream issue. This is expected due to the volatile nature of Sid. It isn't guaranteed to be buildable. Though it's funny how it appears my earlier work for Focal to make it work with the new python2 system is probably what makes this work.

[2020-08-10 07:24] ghost commented on #167
@Eloston I have done a test build with the new chromium 84 for Sid. I discovered it still links to system libpng so I don't know if your changes were 100%. I will delay releasing the new builds officially until you can review it for yourself but I need to get the changes into our repository first.

Please review the OBS development build once it becomes available. I suspect we will need additional

[2020-08-10 07:26] #170 closed, assigned to nobody

[2020-08-10 07:31] Eloston commented on #167
That's strange, thanks for bringing it to my attention. Will take a look once the build finishes.

[2020-08-10 07:34] ghost commented on #167
Buster is my next target so it should be available in the next day or so.

[2020-08-10 08:33] Eloston commented on #167
Are you sure that libpng is pulled in as a direct dependency? I reviewed the source code and OBS files, but I don't see anything we are doing that could directly include libpng.

I noticed OBS was installing `libpng-dev`, so I did a recursive dependency lookup on the build dependencies:

[code]

Several build dependencies depend on libpng-dev, such as libfreetype and libcairo. You can see this tra

[2020-08-10 09:47] ghost commented on #167
No I'm not sure. I just know I saw libpng in the ldd output when I checked its linkage. I'll check it again once I finish buster.

[2020-08-10 15:33] ghost commented on #167
Buster is ready so I sent it out to OBS. Feel free to test it to be sure it's working as I don't use either myself beyond the container environment I use for building.

[2020-08-10 19:40] Eloston commented on #167
FYI Buster build failed, it looks like dfe0d3c57f605a3c9dd9fd2590ced33721a9994a is not quite correct. I pushed 1c1b44277f7b0c88fc510394e25ec9d1d0dfcb7a.

Also, turns out the way I was inspecting direct dependencies was not correct. If you use `readelf -d /usr/lib/chromium/chromium` and note all shared libraries marked with `NEEDED`, then you will get all the direct dependencies. In the most recent

[2020-08-11 02:01] ghost opened #172 "Chromium 84 crashes when closing any tab"
Not sure if this is just me,

I built and ran chromium 84 but when I closed any tab in the browser it would crash:
[code]

[2020-08-11 02:46] ghost commented on #172
You've given us insufficient information. What branch and distribution?

[2020-08-11 03:12] ghost commented on #172
I apologise, branch: debian_sid, distribution: sid.

[2020-08-11 07:36] ghost commented on #172
@Eloston any suggestions? There's not enough information here but it should be reproducible if it's as simple as stated. Right now I'm going to finish getting all the branches building on Chromium 84 before looking into crashes.

[2020-08-11 13:16] InnovativeInventor opened #173 "End to end build Dockerfile"
From: https://github.com/Eloston/ungoogled-chromium/issues/743

I've dockerized the build process on debian (so we can pin exact hashes of the version of debian we're building on). This is intended to aid in the production of reproducible binaries.

Once this is complete, we can use GitHub Actions to build it (a neutral, trusted platform) and have volunteers verify that the GitHub Actions build ma

[2020-08-11 18:45] Eloston commented on #172
@rt1omas Can you get a backtrace?

1. Install the `ungoogled-chromium-dbgsym` package
2. Run `chromium -g`
3. Enter command `run`
4. When the program crashes, run `bt` to get a backtrace

[2020-08-11 20:30] Eloston commented on #173
Thanks for looking into this, but I have several questions:

1. What Debian versions are you building on? How about Ubuntu?
2. Why is it necessary to pin exact hashes of the Debian version we're building on? For example, Debian buster hardly ever changes so it's a pretty stable environment
3. GitHub Actions does not work well for building Chromium (can't remember the specific issues on ungoogled-c

[2020-08-12 00:46] ghost commented on #167
@Eloston All branches appear to be building. Just waiting for a good time to tag.

[2020-08-12 03:36] InnovativeInventor commented on #173
I don't believe it is necessary to pin the exact hashes, but doing so ensures that everybody starts off with the same image, eliminating a source of non-reproducible. I have *no clue* what kind of optimizations the compiler does, but I felt that a reproducible build environment is a good step towards reproducible builds.

Yet another update: Can't seem to get the same .deb files -- planning on try

[2020-08-12 12:43] ghost commented on #172
[code]

[2020-08-12 12:51] ghost commented on #172
looks like this was previously fixed with debian/patches/fixes/serviceworker-double-destruction.patch which was deleted in the latest release.

[2020-08-12 12:57] ghost commented on #172
Debian upstream removed it as it should have been integrated into Chromium upstream.

Edit: Confirmed. It is already applied in Chromium 84 source release.

[2020-08-12 14:15] InnovativeInventor commented on #173
To answer your question, I'll get other architectures (and Ubuntu) built once I manage to figure out how to make builds reproducible. There isn't a reason to use GitHub Actions if OBS works and GitHub Actions didn't in the past.

I've opened up a PR in ungoogled-software/contrib. (https://github.com/ungoogled-software/contrib/pull/2)

[2020-08-12 22:23] Eloston commented on #172
Can confirm that I get this backtrace in the OBS Development version of 84.0.4147.105-2.buster1, revision 10.

[2020-08-13 11:13] ghost commented on #172
I bumped the chromium version. Is the issue still present?

[2020-08-13 16:46] ghost commented on #172
it still crashes.

[2020-08-14 07:05] ghost opened #174 "Cannot install on debian buster"
It is probably a noob question, please pardon me.
I tried to install the prebuild binaries for my fresh buster install but thera are dependency problems with ungoogled-chromium-common which I do not know where to download.

[2020-08-14 07:34] ghost commented on #174
it might actually be easier, in the long run, to follow the instructions under "Add repository and install manually"
if you insist on installing packages directly with dpkg rather than with apt (which is generally a fantastic way to mess up your OS), then you can download the packages here
http://download.opensuse.org/repositories/home:/ungoogled_chromium/Debian_Buster/amd64/
or here:
http://downl

[2020-08-14 12:40] ghost commented on #174
Thank you!

[2020-08-14 12:40] #174 closed, assigned to nobody

[2020-08-18 14:01] ghost commented on #172
I found a patch from the Arch repository that patches a crash in some of the same subroutines found in the backtrace. I have imported it into all branches. Is the issue still present?

[2020-08-18 16:03] ghost commented on #172
Just tried the new build on OBS, still crashes when closing a tab

[2020-08-18 17:35] ghost commented on #172
Which build? I'm not getting any crashes when I close tabs in the Bionic build. Can you get a new backtrace to see if it's something different this time?

[2020-08-18 17:39] ghost commented on #172
sid
84.0.4147.125-1.sid1_amd64.deb
interesting...
I could try to build locally, but it takes a bit longer on my hardware vs. OBS

[2020-08-18 17:39] ghost commented on #172
Could you try testing with a fresh chromium browser profile as well? If that resolves the problem then it's something it doesn't like with the profile.

Edit: I mean, try removing your existing profile (or back it up) and re-test.

[2020-08-18 17:44] ghost commented on #172
new blank profile behaves the same

[2020-08-18 17:49] ghost commented on #172
Well my main concern is how crash happy it is in the stable releases. If it's only crash happy in Sid then that's something we can live with for now.

[2020-08-18 19:08] ghost commented on #172
I'm getting the crash in my LM Debian test VM. It does not occur with Ubuntu Bionic. I will be testing Ubuntu Focal soon.

Edit: Focal crashes as well.

[2020-08-18 19:43] ghost commented on #172
I'll try making a custom debug build since the existing symbols are basically useless as there's no line numbers.

[2020-08-20 17:26] ghost commented on #172
Welp that didn't go anywhere. I'm trying one more thing but if this doesn't work then I'm out of ideas.

[2020-08-20 17:52] ghost commented on #172
Latest build 84.0.4147.135-1.sid1 works fine! Thanks!!

[2020-08-21 09:30] ghost commented on #172
Interesting. Well in any case I will tag it now.

[2020-08-21 09:31] #172 closed, assigned to nobody

[2020-08-21 09:37] ghost commented on #167
Tagged so this is now closed.

[2020-08-21 09:37] #167 closed, assigned to nobody

[2020-08-30 08:18] Eloston opened #176 "Video streaming not working in Microsoft Teams"
I'm unable to share my webcam or stream my desktop in a Microsoft Teams meeting. This problem does NOT occur on Portable Linux or Windows, so I suspect there's a problematic Debian-specific setting.

Nothing was obvious to me on quick inspection of DevTools or standard output/error. I haven't investigated deeper yet.

Version: 84.0.4147.135-1.buster1

[2020-09-01 00:11] ghost commented on #176
Could it be a distribution release specific issue? We should try it with the builds for Bionic and Focal. Do you have any instructions for how to test it?

[2020-09-04 10:20] anoxi opened #177 "Incompatible with unattended-upgrades"
How can i automatically upgrade the ungoogled-chromium package on Ubuntu using unattended-upgrades?
The following apt policy from the opensuse repository does not seem to be not compatible with the Unattended-Upgrade::Allowed-Origins pattern `"<o>:<a>"` ` (<origin>:<archive>) `

[code]
The policy is missing the archive tag and the origin tag format including ":"(obs://build.opensuse.org/home:ungoo

[2020-09-05 06:44] Eloston commented on #176
Bionic is also broken. I don't have the time to test Focal right now.

The easiest way to test Teams is to use any Microsoft Account to access Teams. Then you can create a link to a room that is accessible by non-Microsoft Account holders. I would share a link I use, but I'm don't want to accidentally expose any PII of the room creator.

[2020-09-08 05:57] ghost commented on #177
It's not possible with `unattended-upgrades`. It isn't compatible with what `unattended-upgrades` is expecting and we cannot do anything to resolve it as the issue lies with how OBS formats the Origin line of their Release file short of switching to another provider and there are no alternatives to OBS that work with multiple distributions. As a workaround you can add your own cron job to update u

[2020-09-08 05:57] #177 closed, assigned to nobody

[2020-09-28 17:58] TheJags opened #178 "Request for update to version: 85.0.4183.121-1 for Debian / Ubuntu"
Under the GitHub releases, the latest version available is 85.0.4183.121-1
`https://github.com/Eloston/ungoogled-chromium/releases`

While it's still version 84.0.4147.135-1.focal1 on this OpenSUSE page:
`https://software.opensuse.org/download/package?package=ungoogled-chromium&project=home:ungoogled_chromium`

Please let me know, if I'm posting this in a wrong place. Thanks.

[2020-09-28 20:03] ghost commented on #178
We already know. It takes a long time for Debian to update their files for new chromium releases.

[2020-09-28 20:13] TheJags commented on #178
@braewoods

Oh okay, and the same applies to ubuntu too?

Thanks alot.

[2020-09-28 20:46] ghost commented on #178
For ours yes. Ubuntu doesn't really ship their own chromium anymore as it's now a snap.

[2020-10-11 01:27] kabo commented on #176
Same issue in Slack. Not really sure how to troubleshoot it properly. I'm happy to assist in troubleshooting it (running stuff someone who knows more than I do tells me to run).

I just get this screen in Slack
![3kz32bjwy2k51](https://user-images.githubusercontent.com/357601/95668222-71dce500-0b60-11eb-8fb6-96417aabb514.png)

Teams just gives me a black screen.

Amazon Chime used to work until re

[2020-10-16 05:48] ih8ms commented on #178
@braewoods How does Debian/Ubuntu itself affect publishing the latest .debs in the opensuse repositories? Just asking...

[2020-10-16 10:37] ghost commented on #178
They don't. We don't publish OpenSuse packages. We just use their build service to build for Debian / Ubuntu. But since Debian hasn't updated their chromium package yet we don't really have a quick means of updating for chromium 85. The source packages must be updated before the binary packages you normally use can be available.

[2020-10-17 18:44] Eloston commented on #176
I suspect the root cause might be codec support. If video calling works between ungoogled-chromium and Debian chromium, perhaps it's a system ffmpeg issue? I'm not sure how to confirm this with an existing build.

EDIT: I noticed that both Portable and Arch Linux builds use `ffmpeg_branding="Chrome"` but Debian uses `ChromeOS`. A long time ago, `ChromeOS` was a strict superset of `Chrome`; I wonde

[2020-10-19 08:46] ih8ms commented on #178
Okay, thanks for clarification.
Switching to portable Linux instead. :)

[2020-10-31 23:02] ergpopler opened #179 "Support Ubuntu 20.10"

[2020-11-01 18:27] Eloston commented on #178
For the record, I commented this: https://github.com/Eloston/ungoogled-chromium/issues/1198#issuecomment-703332969

If no one else is interested in doing so, I am considering reviving Debian minimal, which was a Debian package wrapper around Portable Linux. It will include a few Debianization patches, and maybe VA-API patches too.

[2020-11-02 10:53] berkley4 commented on #178
Over the weekend I had a go at building the latest 86 version of UC for debian, but the build wouldn't go very far, with complaints about missing files and dependencies before hitting a python permission error.

I suspect the extra customisation that seems to go into debian's version makes it much more difficult for the upstream debian maintainer to succeed in building a package (let alone a less

[2020-11-04 16:45] xpmn commented on #179
Got an error
[code]

[2020-11-05 19:06] ergpopler commented on #179
Yeah that is what happens, 20.10 has newer packages and ungoogled chromium tries to install older packages which do not exist.

[2020-11-05 22:12] ghost commented on #179
Known issue. Still waiting for Debian to update for newer chromium first.

[2020-11-05 22:12] #179 closed, assigned to nobody

[2020-11-16 13:31] abdulbadii opened #180 "Would one please help me"

[2020-11-17 14:13] christianitis opened #181 "Request for update to latest version"
Could someone please update this to the latest version on the main repo?

Many websites are not working for me, but on my opensuse machine (which uses portable linux, which is on a newer version than this) works just fine.

[2020-11-19 00:05] #180 closed, assigned to nobody

[2020-11-21 19:26] JosephReza commented on #178
Linux Mint has packaged Chromium for themselves (based off of ubuntu 20.04) and that's up to date. Would it be possible to at least use that to get an Ubuntu update? And if so, would it also work on Ubuntu 20.10?

[2020-11-24 10:20] berkley4 commented on #178
@Magus-Sama - this repo appears to be effectively unmaintained until Debian upstream releases an update.

I've tried compiling 86.0.4240.111 but could only get as far as the final linking phase where I ran into an undefined symbol error. Along the way I ran into a myriad of issues which other distros appear not to encounter.

One of the biggest problems seems to be the sheer amount of extra patche

[2020-11-25 01:22] TheJags commented on #178
I totally agree. If the browser or the whole system gets compromised... what would be the point of privacy. And that is exactly what is happening with Chrome, prior to version 86.0.4240.183. While Debian / Ubuntu version still at 84.0.4147.135.

Here's vulnerability details from **ars article**, just in case if anyone doesn't know about these **two actively exploited vulnerabilities (CVE-2020-1599

[2020-11-29 03:32] ghost commented on #178
That's because the Debian package is `chromium`, not `chromium-browser`.

https://tracker.debian.org/pkg/chromium

Not that this matters much, though. It's still unmaintained either way.

[2020-11-30 06:36] Eloston opened #182 "Widevine not working in unportable"
Widevine doesn't work in unportable version, even if I place WidevineCdm in `/usr/lib/chromium` and see the version show up in `chrome://components`. It also doesn't work in `~/.local/lib`, which was my setup for Chromium 84 on Debian stretch.

Maybe we need to add the patch for the Widevine version like there was in Chromium 84?

[2020-11-30 07:07] Eloston opened #183 "Introducing unportable"
Introducing unportable, a new variant that packages ungoogled-chromium-portablelinux into a Debian package. It is essentially the same as Portable Linux, but with a few minor changes like enabling VA-API and Debianization changes like master_preferences.

README has to be updated, but compilation is similar to our other Debian packages but with LLVM 11 from apt.llvm.org.

[2020-11-30 07:46] Eloston commented on #183
@braewoods Feel free to develop on the branch as you'd like. I do not have any pending changes to make.

[2020-11-30 12:57] lfom commented on #183
@Eloston Is it publicly available? I didn't find download links here nor in the main page for binaries download. Thank you.

[2020-11-30 18:55] leso-kn commented on #183
Great idea! This will make ungoogled-chromium available to any debian or ubuntu distribution, regardless of library changes during release upgrades.

(For example when upgrading ubuntu focal => groovy: where `libicu66` and `libre2-5` are no longer available and it's therefor not possible to install the focal version of u-c)

[2020-12-03 22:22] Eloston commented on #178
Closing because unportable variant is available.

[2020-12-03 22:22] #178 closed, assigned to nobody

[2020-12-03 22:57] Eloston commented on #183
Binaries now available: https://ungoogled-software.github.io/ungoogled-chromium-binaries/releases/debian_unportable/amd64/87.0.4280.67-1.unportable1

[2020-12-03 23:09] TheJags commented on #183
hi @Eloston Thank you so much.

Few questions:

1, I would need to uninstall the version 84.0.4147.135 completely, correct ?

2, The download link have 9 versions, which one is "regular" amd64 ?

3, How would the updates work for this unportable version... through the browser itself or by downloading new version from GitHub manually ?

[2020-12-03 23:14] Eloston commented on #176
This should be solved in unportable.

[2020-12-03 23:14] #176 closed, assigned to nobody

[2020-12-03 23:21] Eloston commented on #183
It shares same packaging format as our other Debian/Ubuntu packages. You can upgrade seamlessly, including user data directory.

See installation instructions linked on the page

Manual downloading is the only way for now. There is no apt repo yet because all builds are manually done. I have no plans to setup any infrastructure.

[2020-12-03 23:26] TheJags commented on #183
Thank you :+1:

[2020-12-04 03:03] lfom commented on #182
I was able to get it working after creating a sym-link from **~/.local/lib/WidevineCdm** to **~/.config/chromium/WidevineCdm/_version_number_**, where **_version_number_** is the version of the plugin that can be found in **manifest.json**. The next time Chromium is run, it should automatically create a file named **latest-component-updated-widevine-cdm** that is a plain text file with the path th

[2020-12-04 03:09] lfom commented on #183
It is working fine here after installing `ungoogled-chromium `and `ungoogled-chromium-common` over the latest OBS build (v.84). Thank you very much.

[2020-12-04 08:11] Eloston commented on #182
Hmm, that works for me too. Do you know when the symlink requirement was introduced? I wonder how this works on Windows...

EDIT: Actually, creating the symlink then launching the browser will create a `latest-component-updated-widevine-cdm` that points to the symlink, which doesn't work. I have to ensure the path recorded in that file points to a real directory.
EDIT2: Even after editing the path

[2020-12-04 08:29] ghost opened #184 "Restarting Debian upstream development"
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=972134#37

A discussion is being held considering the establishment of a chromium packaging taskforce, with honorable mention of this project.

I am myself not a Debian developer or maintainer but I would keep an eye open and try to help according to my abilities, at least with testing.

[2020-12-04 12:23] lfom commented on #182
I don't know, I got to this looking at another Chromium-based browser for Linux called Flashpeak Slimjet, it comes with Widewine enabled, but it has an actual folder with the Windevine components, even with some kind of signature. But as I already had the files in **~/.local/lib**, I first tried to install the latest version from the latest official Chrome .deb build, and as it didn't work, I crea

[2020-12-04 19:21] Eloston commented on #182
Hmm, looks like the `widevine-locations.patch` needs to be updated to look for WidevineCdm in `~/.local/lib` when creating the latest-component file.

[2020-12-04 19:41] Eloston commented on #181
unportable is out, closing.

[2020-12-04 19:41] #181 closed, assigned to nobody

[2020-12-04 23:31] ghost commented on #183
Hi,
It seems like debian/scripts/generate_changelog expects the ungoogled-chromium submodule to be under debian/ (like in the sid branch), and a distro_revision file named revision.txt under debian/ (named distro_revision.txt in the sid branch).

[2020-12-05 08:00] Eloston commented on #183
@gadall Are you sure you're looking at the right version of the script? [Are you referring to these lines?](https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/37a38848dbb3db9fe7e8c91934ea44b925f2dd1f/debian/scripts/generate_changelog#L69-L72)

[2020-12-05 08:05] ghost commented on #183
yea

[2020-12-05 08:15] Eloston commented on #183
@gadall `debian_dir.parent` can be thought of as `debian/../`, which is always the root of the git repo.

[2020-12-05 08:27] ghost commented on #183
@Eloston What I know I'm doing wrong so far is using bullseye (with bits thrown in from buster). Perhaps I'll try again with pure buster, and then we'll see what is broken where and how it can be fixed.

[2020-12-05 13:26] yl3dy opened #185 "Build failure for unportable"
Couldn't build "unportable" version following the instructions in the README: it fails when running `./debian/scripts/setup debian` with an error: `FileNotFoundError: [Errno 2] No such file or directory: '/home/user/ungoogled-chromium/build/src/ungoogled-chromium/chromium_version.txt'` (my root build dir is `/home/user/ungoogled-chromium`, cwd is `/home/user/ungoogled-chromium/build/src`).

My sys

[2020-12-07 11:37] berkley4 commented on #184
You're welcome to point the debian folks at my fork of this repo, where I've just finished updating to the latest release. It builds and seems to run fine.

The only thing I couldn't get working was widevine, disabled for now, but probably fixable.

[https://github.com/berkley4/ungoogled-chromium-debian/tree/87.0.4280.88](url)

Edit: I'm not sure why that url doesn't seem to work, try copying and

[2020-12-07 12:33] berkley4 opened #186 "Updating to 87.0.4280.88"
I've managed to update to 87.0.4280.88 and was wondering about making a pull request. Since it's not based on an official debian release, I'm unsure about making it to the 'debian_sid' destination branch and thereby losing sync with future debian git history.

In my own repo I've got things in a branch called '87.0.4280.88'. Please advise.

[2020-12-07 17:10] HeteroChromia42 opened #187 "ungoogled-chromium depends on libre2-8 but it's not installable"
Title. can we get this issue resolved? Running Debian Unstable.

[2020-12-08 19:08] ghost commented on #183
@Eloston The script works if you run it out of the original checked out git repository.
Following the instructions: mkdir -p build/src; cp -r ungoogled-chromium-debian/debian build/src/; cd build/src; debian/scripts/setup debian; takes everything out of place and the script can't find the ungoogled-chromium submodule or the other files as I described above.

[2020-12-08 19:45] ghost commented on #185
@yl3dy see https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/183#issuecomment-740870616

[2020-12-08 23:33] ghost commented on #187
@InspectorGilbert I've just built a fresh 87.0.4280.88-1.unportable1 and it depends on libre2-9. Perhaps if you would like to trust me and my build environment I could share the build.

[2020-12-08 23:37] ghost commented on #183
Successfully built on testing "bullseye" and pulling python-xcbgen from buster. LLVM 11 is already included in debian testing.
Seems to work fine

[2020-12-09 01:13] ghost commented on #187
if needed you can find libre2-8 at http://snapshot.debian.org/package/re2/20201001%2Bdfsg-1/

[2020-12-09 05:28] Eloston commented on #186
Does Debian have any concrete plans to update their Chromium package?

[2020-12-09 05:34] Eloston opened #188 "Remove unnecessary dependencies in unportable"
There are a number of build dependencies in unportable that are no longer necessary because we are based on Portable Linux. Near the end of the packaging process, the build tooling is able to identify a number of unnecessary dependencies; this can be used as a reference. (But we need to be cautious about conditionally-loaded dependencies like VA-API)

This will help to alleviate issues like #187.

[2020-12-09 05:36] Eloston commented on #183
@gadall Yeah, I made a mistake when modifying the old build instructions. You don't need to move the `debian` directory anymore. Fixing.

[2020-12-09 05:38] #185 closed, assigned to nobody

[2020-12-10 06:39] berkley4 commented on #186
Nothing I'd describe as concrete. There is a discussion on the debian bugtracker about forming a group maintenance team, plus one person working on an update. The wheels seem to turn very slowly, but I would expect it's more a question of when rather than if an update will materialise.

If you're reluctant about servicing two branches of UC, then I'd suggest making an unofficial-debian branch and

[2020-12-10 15:25] okias commented on #187
@gadall please share build. Today I figured out there isn't possibility to install any Chromium (debian old pakcage doesn't encode video, flatpak chromium & ungoogled-chromium doesn't work due different sandboxing, ungoogled-chromium DEBs doesn't have all dependencies). Outch, I just wanted run M$ teams once.

EDIT: nevermind, I installed libre2 from snapshots and thankfully it's enough.
EDIT2: no

[2020-12-10 15:58] ghost commented on #187
@okias

https://chromium.gedalya.net/chromium/

sha256:
[code]

[2020-12-10 17:12] okias commented on #187
thanks @gadall u saved one M$ Teams meeting :D

[2020-12-14 00:39] Eloston commented on #186
In that case, I'm reluctant to merge updates that would diverge us further from upstream. Instead, I could pin a new issue that refers to your fork until upstream manages to release a new update. Does this sound viable?

[2020-12-15 19:13] berkley4 commented on #186
Sorry for the delay, that sounds fine.

There has been some discussion and collaboration over at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=973848, and a debian maintainer has even submitted a package for review - https://mentors.debian.net/package/chromium/.

Hopefully we'll see debian releases resume in the near future, as it's a hard job to update from something that was so out of date.

[2020-12-23 11:04] tpo commented on #186
Debian has [updated chromium to v87 in sid](https://packages.debian.org/sid/chromium). So now theoretically it should be possible for ungoogled-chromium to catch up?

[2020-12-25 11:04] ghost commented on #186
The repository for the last 3 chromium uploads is at https://salsa.debian.org/mimi89999/chromium/

Discussion seems to be scattered across at least:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=972134
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=973848
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=974678

If Michel Le Bihan's work (linked above) is what's currently being uploaded, pe

[2020-12-26 16:12] PrecisionWordcraft opened #189 "Readme instruction refers to nonexistent directory; cannot proceed with build"
This line in the readme refers to a nonexistent directory:

cp -r ungoogled-chromium-debian/debian build/src/

Without the correct instruction here you can't proceed with a build.

[2021-01-12 23:25] Eloston commented on #187
Closing because issue is resolved and old.

For reference, I build unportable on Debian stable, so that's why you're having dependency issues on testing, sid, and experimental. Technically there shouldn't be any dependency on libre, but the Debian packaging metadata needs to be updated (#188).

[2021-01-12 23:25] #187 closed, assigned to nobody

[2021-01-12 23:28] Eloston commented on #184
Closing because upstream has restarted development. Let's consolidate discussion into #186.

[2021-01-12 23:28] #184 closed, assigned to nobody

[2021-01-12 23:50] Eloston commented on #186
Since upstream has pushed some updates, I think it's time to consider resuming development on our side.

Who wants to take ownership of updating?

* @berkley4 Since you've already made your own branch for v87, you probably have enough context to made an "official" change (i.e. making an update based on upstream code). Would you like to submit an update?
* More importantly, who is interested in mai

[2021-01-12 23:58] Eloston commented on #189
**If you're not looking at the `unportable` branch**, the instructions in that README should be correct. Which directory is missing?

**If you're looking at the `unportable` branch**, the `build` directory now lives at the root of the git repo (it is ignored by `.gitignore`).

Make sure you're following the README instructions in the branch you're building. Let me know if you have further issues.

[2021-01-12 23:58] #189 closed, assigned to nobody

[2021-01-13 12:05] ghost commented on #183
My binaries for Debian bullseye (testing)
http://chromium.gedalya.net/chromium/87.0.4280.141-1.unportable1/
Note: Like Debian's latest firefox package (in sid), this also depends on libx11-xcb1 >= 2:1.7.0 which has not yet migrated to testing. Assuming you're using the latest firefox package, this is probably what you want.
sha256 sums:
[code]

[2021-01-16 02:26] SugaryHull commented on #183
I'm currently working on building 87.0.4280.141-1.unportable1 in Debian Stable with the upstream version of llvm-11 (from apt.llvm.org), and I ran into an issue where the build script expected "llvm-ar," but the upstream package only created "llvm-11-ar." Creating my own symlink in /usr/bin appears to have solved this.

[2021-01-16 02:30] SugaryHull commented on #183
I ran into a similar issue with the assumption of the symlink to "clang" and "clang++," and used a similar solution after purging the Debian packaged verison of clang

[2021-01-16 04:43] SugaryHull commented on #183
apt.llvm.org also doesn't automatically install it's corresponding version of "ld.lld," so that would also be necessary to install and manually symlink over the Debian version, otherwise Ninja will crash with an error regarding conflicting versions of LLVM.

[2021-01-16 07:47] Eloston commented on #183
@SugaryHull [The debian/rules file already specifies a specific set of compiler tools](https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/020fa2902addcc40c69780e0a89f83a21f1a751a/debian/rules#L12-L19). Is this not working for you?

[2021-01-16 15:39] SugaryHull commented on #183
Most likely what happened is that I didn't fully remove the Debian versions before updating to the upstream versions. My bodge jobs did eventually result in a successful build, but it's obviously not ideal

[2021-01-16 15:57] SugaryHull commented on #183
As it turns out, I had been using ./build.sh, which doesn't specifically build for Debian. My former comments will now serve as a log of how I built the linux-portable version of ungoogled-chromium on Debian Stable. As for the Debian packaging instructions, I did have to write my own changelog when invoking dpkg-buildpackage manually.~~, which appears to be absent from this repo.~~

[2021-01-17 02:56] SugaryHull commented on #183
I have submitted a pull-request for 87.0.4280.141-1.unportable1 on [ungoogled-chromium-binaries](https://github.com/ungoogled-software/ungoogled-chromium-binaries/pull/225). Apologies if I was not writing up my build progress in the correct place.

[2021-01-18 19:38] Ph0rk0z opened #190 "Got tricked, vaapi is broken."
New box using binary nvidia driver and kernel 5.8. Thought to grab ungoogled. Used the OBS repo and pulled my hair out wondering if something with my drivers broke... and in truth it did, just the build there is missing the patch as well.

[2021-01-18 22:03] Ph0rk0z commented on #190
Actually this might be worse, I've run through everything with no solution.

Chromium from repo - No acceleration unless --use-gl=egl is used but then video decoding unavailble otherwise GPU not detected
Chromium from my AMD system and the same ubuntu version - installed libavcodec58 also needs the flag above

unportable - everything looks fine but mojodecoder falls back to ffmpeg
portables - same

[2021-01-19 15:03] Ph0rk0z commented on #190
Ironically some sucess with the repo version and nouveau + nvidia firmware downloaded. It has artefacting but maybe thats kissak-fresh related.

[2021-01-19 19:54] #190 closed, assigned to nobody

[2021-01-21 05:18] nzm001 commented on #183
@Eloston Thank you for upgrading. Ungoogled chromium saves me from Ubuntu snap version.

A few questions:

1. Is it normal that unportable version consumes more CPU (and less GPU)? By watching the same video at the same resolution (720p) with hardware acceleration, unportable (87.0.4280.67-1.unportable1) consumes 20-40% more CPU than previous version (84.0.4147.135-1.focal1), and 0-50% less GPU.
2

[2021-01-22 17:32] SugaryHull commented on #186
@Eloston
Debian has since pushed a non-maintainer update for chromium that pushes the version to [88.0.4324.96-0.1](https://packages.debian.org/source/sid/chromium). This was to address [26 outstanding CVEs](https://metadata.ftp-master.debian.org/changelogs//main/c/chromium/chromium_88.0.4324.96-0.1_changelog), and it appears to be working its way to Buster-Security as we speak.
~~Correction: [its

[2021-01-22 17:36] ghost commented on #186
@Eloston
Given the news given to us by @SugaryHull, I'll see about getting us updated to the new release in the debian upstream repository once we have chromium 88 available in our main repository. Unless you had other plans?

[2021-01-23 00:15] SugaryHull commented on #186
There's currently a pull-request in the main ungoogled-chromium repo for an update to [88.0.4324.104](https://github.com/Eloston/ungoogled-chromium/pull/1342), and I am currently documenting issues with applying it to the current Debian and Portable Linux SKUs as they currently are. You can find my comments in the PR discussion.

[2021-01-23 11:51] mimi89999 commented on #186
Hello,
I made the recent NMU uploads of Chromium in Debian.

No, that issue is blocking Chromium from entering Bullseye. There is another issue with building Chromium for Buster that is being worked on.

Do _ungoogled-chromium_ patches for `88.0.4324.96` apply cleanly after the Debian patches?

[2021-01-23 14:00] ghost commented on #186
@mimi89999 That's not how the ungoogled-chromium patches are applied. They are applied **before** the Debian patches. So they will apply cleanly once the upstream repository release is made.

[2021-01-24 00:11] SugaryHull commented on #186
Would that be carried out by the OBS repos or through a community-contributed binary?

[2021-01-24 00:33] ghost commented on #186
@SugaryHull OBS but I have to get it building locally first.

[2021-01-24 03:02] lf94 opened #191 "Depends: libre2-8 on Debian Sid issue"
The sid package requires libre2-8 but only libre2-9 exists. Installing libre2-9 does not resolve the conflict. Updating the control file should resolve the issue!

[2021-01-24 03:24] lf94 commented on #191
I was able to continue installation by installing the missing package from here: https://snapshot.debian.org/binary/libre2-8/

[2021-01-24 23:21] SugaryHull commented on #191
@lf94 This is a [known issue](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/187) with building on Debian Sid, as this repo tends to target Debian Stable. More information can also be found [here](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/188).

[2021-01-25 19:23] ronaldl29 opened #193 "Cannot install due to unmet dependencies, Ubuntu 20.04.1"
I am following the Ubuntu install instructions and receiving this error:

` ungoogled-chromium : Depends: libavcodec57 (>= 7:3.4.8) but it is not installable or
                               libavcodec-extra57 (>= 7:3.4.8) but it is not installable
                      Depends: libavformat57 (>= 7:3.4.8) but it is not installable
                      Depends: libavutil55 (>= 7:3.4.8) but it is

[2021-01-27 20:00] SugaryHull commented on #193
@ronaldlong46 My guess would be that these dependencies were updated in Ubuntu in a way that broke these older OBS builds of ungoogled-chromium. Try my build of [ungoogled-chromium 87.0.4280.141-1.unportable](https://ungoogled-software.github.io/ungoogled-chromium-binaries/releases/debian_unportable/87.0.4280.141-1.unportable1) and see if you have the same issues. I have personally only tested it

[2021-01-27 20:07] SugaryHull opened #195 "Temporarily replace OBS install instructions with a link to https://ungoogled-software.github.io/ungoogled-chromium-binaries/"
It seems that the OBS builds for Ubuntu Focal [no longer install correctly](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/193), so it might be advisable to temporarily point people to the community-contributed builds of ungoogled-chromium until OBS can be resumed along with Debian upstream. Additionally, [Ubuntu has also switched to using a Snap to install Chromium](https:

[2021-01-28 03:53] ghost commented on #191
This is probably due to how old the existing OBS builds are. I'm still waiting for chromium 88 to land in our upstream so it should be dealt with then.

[2021-01-30 07:02] Eloston commented on #186
@braewoods Sorry for the late response, feel free to go ahead with updating the branches. I can keep maintaining the unportable variant for the time being.

[2021-01-30 07:12] Eloston commented on #183
@nzm001

Is the video encoding the same? You might also want to enable the Media tab in DevTools (open menu -> More Tools -> Media) to confirm the proper video decoder is used.

It is possible but I'm not sure how to do it. The build config might need some changes.

[2021-01-30 07:17] Eloston commented on #195
Pinning for more visibility to users.

@braewoods Do you have a rough ETA of when we can update with changes from upstream? If it's soon, we may not need to update the README.

[2021-01-30 07:18] ghost commented on #195
@Eloston I'm working on it now. See the draft PR.

[2021-01-30 12:50] grandtoubab commented on #195
Hi folks,
Here is the way I use it
https://bidouilledebian.wordpress.com/2021/01/18/de-google-iser-son-navigateur/

What do you think of that?

[2021-02-03 04:27] ghost commented on #186
Chromium 88 is being worked on as we speak. This is no longer relevant.

[2021-02-03 04:27] #186 closed, assigned to nobody

[2021-02-03 05:08] ghost commented on #191
This will be fixed soon when the new debian sid builds are available in this next week or so. This is no longer relevant.

[2021-02-03 05:08] #191 closed, assigned to nobody

[2021-02-03 21:04] ghost opened #197 "Progress on Chromium 88"
I have finished the work on `debian_sid`. I am now waiting to see how the OBS test repository fares.

[2021-02-04 07:52] ghost commented on #197
`debian_sid` has been tagged. Now working on `debian_buster`.

[2021-02-04 15:42] ghost commented on #95
Chromium 88 is now in progress. Reopen if this remains an issue.

[2021-02-04 15:42] #95 closed, assigned to nobody

[2021-02-04 15:43] #195 closed, assigned to nobody

[2021-02-04 15:43] ghost commented on #183
@Eloston Is there a purpose to unportable now that we can update the regular packaging again?

[2021-02-05 06:22] ghost commented on #193
This will be resolved when I get around to working on Focal.

[2021-02-05 06:22] #193 closed, assigned to nobody

[2021-02-05 07:36] ghost commented on #197
`debian_buster` is now building on OBS. I am waiting to see now how the OBS test repository fares.

[2021-02-05 11:00] zaza42 commented on #197
I can't compile on Debian sid, always stucked at:
[code]
This error is after another, that I was able to fix with this patch: https://bugs.gentoo.org/753239

[2021-02-05 11:04] ghost commented on #197
It's not occurring in my container test builds nor on OBS. What's different about your environment? For that matter what commit are you using?

[2021-02-05 11:07] zaza42 commented on #197
I've followed the standard building steps: `git -C ungoogled-chromium-debian checkout --recurse-submodules debian_sid`
It downloaded `chromium-88.0.4324.146.tar.xz`

[2021-02-05 21:57] ghost commented on #197
`debian_buster` has been tagged.

[2021-02-07 07:45] Eloston commented on #183
@braewoods Not really, but reflecting on it made me realize a minor benefit. Having worked on unportable and now looking back at Debian's chromium, I'm starting to see that Debian makes a lot of changes without a lot of rigorous testing (e.g. unit/integration/system/E2E testing). Sometimes this causes regressions, so it'd be nice to have a more conservative fallback (unportable). But this is more

[2021-02-07 07:45] #183 closed, assigned to nobody

[2021-02-07 14:17] riyad commented on #197
FWIW: I just tried the `88.0.4324.146-1.sid1` tag in order to see if I could get it to build on Ubuntu 20.10 (groovy) ... it almost did. All the dependencies installed without problems or incompatibilities.
But running `dpkg-buildpackage -b -uc` failed with the following error after a few seconds:

    [...]
    dpkg-source: info: applying system/use-desktop-gl-as-default.patch
    dpkg-source: in

[2021-02-11 20:16] ghost commented on #197
I've just compiled debian_sid at 3b481f1 with the latest ungoogled-chromium at f7c33de (88.0.4324.150) and it built just fine on Debian sid, and is running fine.

[2021-02-16 15:15] lfom commented on #183
@braewoods OBS has newer builds for Sid and Buster, but not for Bionic and Focal. Won't they be updated as well? If they won't, I think unportable will still be needed.

[2021-02-17 22:21] black-reaver commented on #197
Does anyone know if the Ubuntu Bionic & Focal versions are still being maintained?

They're at 84.0.4147.135 & haven't been updated since August 2020.

[2021-02-17 22:22] ghost commented on #197
Yes. I've been hit by extremely cold weather so I have had other priorities.

[2021-02-21 14:18] ghost commented on #197
@Eloston I have discovered a problem with Bionic compatibility. We are no longer compatible with the available version of Node.JS. The only workaround I can find involves importing prebuilt ones into OBS which is already supported by the upstream build system. And those do not provide an i386 build.

So, I find myself asking the question, do we still want to maintain Bionic bionic albeit with one

[2021-02-21 21:00] riyad commented on #197
For very selfish reasons I'd have no problems with ungoogled-chromium only being supported on Ubuntu's latest LTS and latest non-LTS releases. :wink: I have no preference for either "native"?!? or "unportable" as long as there's _something_ for those distros.

BTW: I appreciate all your hard work creating and updating patches, building and testing for all the variants. :clap: Chromium is a huge be

[2021-02-21 22:20] LokiChaos commented on #197
I'll echo that supporting the latest LTS + non-LTS would be a sufficient goal. I'm going to guess most who don't migrate to the latest LTS are likely servers, not workstations where you'd be running Chromium.

Maybe a bit of a grace-period if nothing major breaks, but 20.04 has been out since last April.

[2021-02-23 17:53] jarata opened #206 "Chrome Developer Tools Missing"
I correctly installed the version for Ubuntu Bionic, and have been able to launch the browser successfully. It seems that the Developer Tools are missing? Or at least not enabled? Or am I overlooking some documentation?

I am running elementary OS 5.1.7 Hera

[2021-02-24 19:20] riyad commented on #197
FYI: the `ubuntu_focal` branch updated for 88 also builds successfully on Ubuntu Groovy. :v:

[2021-02-26 13:50] cypherpunk1984 commented on #197
I'm on Mint 18.3, so Bionic based, and I haven't been able to install any version after 84, because they need libc6 2.28 or newer, and Bionic is stuck on 2.27, and installing a non-official version of libc6 could pretty much break your whole system. I have tried deb files, AppImage files, etc. etc. nothing works. I love Ungoogled Chromium but is such a shame that I'm forced to upgrade to Focal for

[2021-02-26 14:21] ghost commented on #197
It doesn't actually. See here: https://packages.ubuntu.com/bionic/chromium-browser
It's still at 87, perhaps for the same reasons I ran into.

[2021-02-26 14:31] cypherpunk1984 commented on #197
Oops I wrote 88 when I wanted to write 87. I still don't get why I can use v87 of normal chromium but not ungoogled chromium 87 (neither 85 or 86). Does only Ungoogled Chromium needs the newer libc6 versions, and normal chromium doesn't?

[2021-02-26 14:33] ghost commented on #197
That has to do with when it was originally built. I can't find a way to make Bionic build so I am planning to drop our support for it soon. You may want to look into upgrading to Mint 19.x if you need an updated chromium. I should be able to fix the issues with Focal soon.

[2021-02-26 14:37] cypherpunk1984 commented on #197
Completely understandable.
I was planning to upgrade to Mint 20 in a couple of months, maybe I should just do it.
Thanks for your contributions!

[2021-02-26 15:07] #206 closed, assigned to nobody

[2021-02-26 15:07] ghost commented on #206
Bionic is no longer supported. Desktop is EOL soon.

[2021-03-12 20:42] SugaryHull opened #207 "Chromium 89"
[Chromium 89 has been added to Debian Sid](https://tracker.debian.org/news/1235457/accepted-chromium-890438982-1-source-into-unstable/), so the new ungoogle patches can be applied to Debian. Any ideas on potential difficulties porting and an ETA?

[2021-03-14 03:02] Eloston commented on #197
Closing since 88 has been out for a while.

[2021-03-14 03:02] #197 closed, assigned to nobody

[2021-03-14 11:49] #207 closed, assigned to nobody

[2021-03-21 14:39] shvchk commented on #197
Wait, but production Focal repo is still on  84: https://build.opensuse.org/package/show/home:ungoogled_chromium/ungoogled-chromium-focal

[2021-03-21 14:53] riyad commented on #197
hmm ... maybe builds were not triggered, because there're no focal/groovy tags for those releases?

[2021-03-21 15:43] ghost commented on #197
I never managed to get it building so i never tagged it.

[2021-03-23 18:34] TheJags opened #211 "Request to reintroduce Unportable"
Going through issues, came across following 2 comments:

(1) "I [never managed to get it building](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/197#issuecomment-803606822) so i never tagged it."

(2) "... so I probably won't update unportable [unless I find a good reason to](https://github.com/ungoogled-software/ungoogled-chromium-debian/issues/183#issuecomment-774628849)

[2021-03-23 20:37] ghost commented on #211
@TheJags I haven't given up yet. I'm still working on it but I got stalled last time so it didn't work out for 88. I should be done with Debian for 89 soon assuming Buster builds.

[2021-03-23 20:42] TheJags commented on #211
@braewoods thank you so much :)

[2021-03-30 14:20] dkebler opened #213 "Ubuntu binary stale compared to Debian"
Any reason why the stable Ubuntu focal binary is not rebuilt when buster/sid is?  buster/sid corresponds to latest release tag ( a few days ago), but the focal binary is still a binary from a release tag 7 months ago.

https://build.opensuse.org/project/show/home:ungoogled_chromium

even in the dev branch the focal binary is one month behind.
https://build.opensuse.org/project/show/home:ungoogled_

[2021-03-30 14:21] dkebler commented on #213
BTW -  really really appreciate this project.  If there is a way I can help keep ubuntu binary current to releases let me know.

[2021-03-30 14:46] Joffreybvn commented on #213
I tried to build it on Focal, but I got an error related to "VPX". Currently, resolving this bug is beyond my comprehension.
However, I think @braewoods is investigating this issue.

I'm also open to help if needed !

[2021-03-30 15:32] dkebler commented on #213
If @braewoods doesn't solve it soon I'll try building it myself (I run mint 20/focal on my dev box)

[2021-04-01 16:51] dkebler commented on #213
one question.   Do you know why the dev branch built ok for that release a month ago but the stable branch (which apparently has the same release at this point) did not?

[2021-04-06 08:12] #213 closed, assigned to nobody

[2021-04-06 20:48] jacksongoode opened #215 "Latest Focal only on development branch, not production"
Is there any reason for this? Or should Focal users move to the development branch for the latest updates?

[2021-04-06 21:14] ghost commented on #215
It's a work in progress.

[2021-04-06 21:14] #215 closed, assigned to nobody

[2021-04-07 01:28] ghost opened #216 "Ubuntu 21.04"
This is to track support for this release. We first need to wait for it to be released and for OBS to support it.

[2021-04-07 07:02] #211 closed, assigned to nobody

[2021-04-07 07:04] ghost opened #218 "[ubuntu_focal] Reintroduce system ICU?"
I had to switch to the bundled ICU just to get Focal to build again and I do not have time to make it work with it. If someone else would like to try then please reply here.

[2021-04-07 13:16] TotalCaesar659 commented on #218
If ungoogled-chromium doesn't start after update and shows something like this:
[code]
here is temporary fix: unpack icudtl.dat to /usr/lib/chromium.
[icudtl.zip](https://github.com/ungoogled-software/ungoogled-chromium-debian/files/6271841/icudtl.zip)

[2021-04-07 14:37] jthistle commented on #218
I'm getting the exact same crash. All that caused it for me was downloading the latest version from OBS. Broke it immediately. Thank you @TotalCaesar659 for the temporary fix—any idea when a real fix can be expected?

[2021-04-07 17:13] jacksongoode commented on #215
@braewoods Seems like the latest build on Focal made it through, but it does fail quickly on start.

[code]

[2021-04-07 18:39] TheJags commented on #218
@TotalCaesar659

Thanks alot, I too was having instantaneous crashes on Ubuntu MATE 20.10.

[2021-04-07 21:11] #218 closed, assigned to nobody

[2021-04-07 21:12] ghost opened #219 "[ubuntu_focal] Reintroduce system ICU?"
I had to switch to the bundled ICU just to get Focal to build again and I do not have time to make it work with it. If someone else would like to try then please reply here.

[2021-04-07 21:12] ghost commented on #218
Issue closed due to being hijacked for an unrelated problem.

[2021-04-07 21:20] jthistle commented on #218
@braewoods re: the 'unrelated problem', may I open a separate issue for it, then? It is a very real problem that anyone trying to install on Ubuntu from OBS will come up against.

[2021-04-07 21:30] ghost commented on #218
It's already solved but needs time to build.

[2021-04-07 21:39] jthistle commented on #218
@braewoods thank you, that's great to hear.

[2021-04-08 07:01] Eloston opened #220 "Problem with debian/scripts/check-upstream"
On `89.0.4389.114-1.sid1`, there is an issue when running `debian/scripts/check-upstream` (invoked by `debian/scripts/setup local-src`) exiting with this error:

[code]

I've seen this in several recent versions already, and it seems to be a bug in `check-upstream`'s code to detect whether a symlink will lead outside the pwd.

I am wondering: Does upstream Chromium run into this issue?

[2021-04-08 12:31] TotalCaesar659 commented on #95
The issue is not resolved in 89.0.4389.114, so it has to be reopened.

[2021-04-11 00:58] markwylde opened #221 "Build failed: use of undeclared identifier 'VP9E_SET_DELTA_Q_UV'"
Getting the following error when trying to build from source:
[code]

My build steps are:
[code]

[2021-04-11 05:42] markwylde commented on #221
Getting further adding this line after the `git clone`

[code]

[2021-04-11 06:33] ghost commented on #221
That specific error is already patched in HEAD of the ubuntu_focal branch. Furthermore it builds successfully in my containers and over on OBS. It sounds like an issue with your build environment.

Check that all the patches are being applied and that you have HEAD checked out on ubuntu_focal. You should also ensure your build environment is fully up to date in respects to what your distribution p

[2021-04-11 08:52] markwylde commented on #221
Thanks @braewoods

Yeah I think this was just a case of me trying to build the `sid` branch on a `focal` system.

When I checked out `ubuntu_focal` it built successfully.

[2021-04-11 08:53] markwylde commented on #221
For anybody in the future, my full working Dockerfile is:

[code]

This outputed the following files:
- /build/build/ungoogled-chromium-common-dbgsym_89.0.4389.114-1.focal2_amd64.ddeb
- /build/build/ungoogled-chromium-common_89.0.4389.114-1.focal2_amd64.deb
- /build/build/ungoogled-chromium-dbgsym_89.0.4389.114-1.focal2_amd64.ddeb
- /build/build/ungoogled-chromium-driver-dbgsym_89.0.4389.114-1.foc

[2021-04-11 13:09] #221 closed, assigned to nobody

[2021-04-18 13:11] unilock opened #222 "APT only sees armhf packages in OBS on amd64"
Hi all.

I'm running Pop!_OS 20.10 on an amd64 machine.

When following the instructions [here](https://github.com/ungoogled-software/ungoogled-chromium-debian#installing) (for Ubuntu Focal, also tried instructions for Debian Sid) to add the OBS repository, and running `apt search ungoogled-chromium`, the relevant packages are listed as only supporting the armhf architecture (except `ungoogled-chr

[2021-04-18 14:26] ghost commented on #222
We don't support 20.10 or any of its derivatives. I'm not sure what made you think we did. We will be supporting the next release but the previous one was skipped due to some upstream issues.

[2021-04-18 14:26] #222 closed, assigned to nobody

[2021-04-22 16:42] ghost commented on #216
Ubuntu 21.10 launched today. OBS also has support. Now waiting a few days for the repositories to settle down.

[2021-04-24 19:50] Eloston commented on #220
@braewoods Do you run into this issue with OBS builds?

[2021-04-24 19:56] ghost commented on #220
I don't believe so but then we don't use check-upstream in the normal build process to my knowledge. Here is the OBS log for that build.
[log.txt](https://github.com/ungoogled-software/ungoogled-chromium-debian/files/6370494/log.txt)

[2021-04-24 19:58] ghost commented on #220
I stand corrected. I forgot it's part of the source setup.

[2021-04-24 20:02] ghost commented on #220
@Eloston How are you triggering it anyway?

[2021-04-24 20:03] Eloston commented on #220
Okay, it's because my `$(pwd)` includes a symlinked directory. I'll need to change [this line to `cd` into the real path](https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/debian_sid/debian/scripts/setup#L18)

[2021-04-24 20:09] #220 closed, assigned to nobody

[2021-04-24 20:11] ghost commented on #220
@Eloston Could you be more mindful about when you push to the repository while we're in the middle of preparing new releases? Your commit just reset my OBS build I was waiting for.

[2021-04-24 20:17] Eloston commented on #220
Oh really? I didn't expect any push to re-trigger OBS builds. What is your procedure for releasing?

[2021-04-24 20:25] ghost commented on #220
The scripts in each supported repository trigger an upload for every push or tag. Pushes go to the testing project's package(s) and tags to the production project's package(s). The idea was to allow development to trigger experimental OBS builds for whatever reason and link tagging releases to production OBS builds.

So I use normal pushes (or merges) to test that OBS can build the package prior t

[2021-04-24 20:28] ghost commented on #220
Most of the time this is a non-issue but it is when I'm preparing to release for a major build.

[2021-04-24 20:36] Eloston commented on #220
Hmm okay I see a few potential options here:

1. I just use PRs to make changes, so we can merge when we're not doing a release
2. We manually approve uploads to OBS instead of using pushes to the repo
3. We find a way to queue up or discard new uploads while a build is ongoing (instead of cancelling them). We can check if OBS has such an option, or if we can check in the Workflow before we perfor

[2021-04-24 20:40] ghost commented on #220
Option 1 is doable and is what I've been doing to date to reduce spurious builds being sent to OBS.

Option 2 isn't likely a good choice for all repositories due to needing access to the credentials to perform a manual upload. Unless you know some other trigger we could use.

Option 3 is partially implemented in that if the action is triggered while an upload is in progress the prior uploads will

[2021-04-24 20:47] ghost commented on #220
Ok. Seems we could switch to using a manual trigger for testing uploads and continue using tags for production uploads.

[2021-04-24 20:52] ghost commented on #220
I've implemented it. It will no longer trigger uploads on push.

[2021-04-24 20:56] Eloston commented on #220
Huh, today I learned about Workflow Dispatch. Pretty neat, thanks!

[2021-04-26 03:08] Eloston opened #224 "Automating PR generation"
I've played around a little with Actions to semi-automatically generate PRs: https://github.com/ungoogled-software/ungoogled-chromium-portablelinux/commit/91c811d09d396465bb7360a0ad0e75cceff459db

I wonder if we can speed up some of the work here if we can do the same for all our Debian variants. Some considerations:

- debian_sid will be the most fragile. It won't work for this branch if we have

[2021-04-28 14:35] ghost commented on #224
It only really makes sense to do this against debian_sid. The other branches get the bulk of the upstream fixes via a merge from debian_sid. I do it this way to reduce the difficulty of merging stuff since it was already resolved in debian_sid. It does mean I have to directly retrieve stuff for debian_buster as I remove those patches from debian_sid since nothing else uses them but it's not a big

[2021-04-28 17:05] #219 closed, assigned to nobody

[2021-04-29 13:02] rwjack opened #227 "What to do with build output?"
Quite a noob question,

Since I noticed no one wants to build the latest version for debian I decided I'd pitch in, but it seems I have no clue what to do with the output.

It's bad enough that the entire build crashed because I didn't have a GPG key for signing, so I had to re-do the entire thing. Now I'm, stuck with the following:

[code]

Followed [this](https://github.com/ungoogled-software/un

[2021-04-30 00:27] ghost commented on #227
You built a source package which is only suitable if you're planning to upload to something like Launchpad or OBS. You should just build a normal binary package and ignore the package signing failure. It only really matters if you plan to upload to an APT repository.

[2021-05-02 06:11] answerquest opened #228 "GLIBC_2.28 / GLIBC_2.29 not found"
On running the latest .AppImage:
[code]

On running "chrome" binary in the latest "Portable Linux 64-bit":
[code]

[2021-05-02 10:18] Joffreybvn commented on #228
I have the same error on ubuntu 18. However, it works fine on ubuntu 20.
I will publish soon a snap package of chromium 90 based on the portable linux version, that you can install on ubuntu 18 without any problem.

[2021-05-02 19:16] ghost commented on #228
Why is this here? This isn't the repository for the AppImage or Portable variants.

[2021-05-02 19:16] #228 closed, assigned to nobody

[2021-05-02 22:04] ghost commented on #216
Seems I'm done with the existing branches. Working on hirsute now.

[2021-05-03 01:31] #227 closed, assigned to nobody

[2021-05-05 08:27] ghost commented on #216
Weird issue during dh_strip found. I'll try building it locally and see what I can figure out.

[2021-05-05 08:30] ghost commented on #216
I disabled LTO because this is the first release of Ubuntu where it is the default. And it's probably best that we don't use it due to how memory intensive it can be during linkage. Best not to cause yet another vector for build failures to occur for now.

The dh_strip issue OBS encountered might be related to the Clang changes or even some other toolchain change.

[2021-05-07 05:22] taivlam opened #229 "[Enhancement] OBS Install for Debian Testing?"
IIRC, I thought installs for Ungoogled Chromium on Debian Testing used to be offered on OBS during the first half of 2020.  However, after recently installing Parrot OS Home (which is based on Debian Testing), I realized I am unable to install Ungoogled Chromium because there are currently no instructions because there isn't a custom repo for Debian Testing on OBS.  (I almost made the mistake of u

[2021-05-07 08:44] ghost commented on #229
The closest thing we currently provide is Sid which is an alias for unstable. Unstable eventually makes it to testing from my understanding. To date there's been no demand for testing because of this. So there's a fair chance you can just use the Sid repository and it'll just work. In any case Sid is a best effort repository and not guaranteed to be working due to the nature of Sid.

We don't real

[2021-05-07 08:44] #229 closed, assigned to nobody

[2021-05-07 08:46] ghost commented on #229
See these project links for the special Debian repositories on OBS:
https://build.opensuse.org/project/show/Debian:Next
https://build.opensuse.org/project/show/Debian:Testing
https://build.opensuse.org/project/show/Debian:Experimental

[2021-05-07 14:50] Aufschlauer opened #230 "Ungoogled chromium 84 for Ubuntu 18.04/Linux Mint 19.3?"
Hi,

I'm trying to understand how the latest binary of Ungoogled Chromium for Ubuntu 18.04/Linux Mint 19.3 was build. Actually which tag was used?

For version 84 I can only find tags for

- sid
- hirsute
- focal
- buster

In case I would rebuild the 84 release for Ubuntu 18.04/Linux Mint 19.3: Which tag I've to use?

Thx!

[2021-05-07 16:27] ghost commented on #230
None. We dropped support for Bionic due to the increasing difficulty of building it. You can upgrade to Linux Mint 20.x and use Focal instead.

[2021-05-07 16:28] #230 closed, assigned to nobody

[2021-05-07 19:31] ghost commented on #216
Implemented.

[2021-05-07 19:31] #216 closed, assigned to nobody

[2021-05-08 00:40] JosephReza opened #231 "Fonts Not Showing Up in Light Websites on Hirsute Hippo"
Hello,

I am using Kubuntu 21.04 on this 81X2 IdeaPad Flex 5 14ARE05 with an AMD Ryzen 7 4700U with Radeon Graphics (8) @ 2.000GHz for the CPU and an AMD ATI 04:00.0 Renoir for the GPU (integrated graphics). The UC version is Chromium 90.0.4430.93 built on Ubuntu hirsute/21.04, running on Ubuntu hirsute/21.04.

When I go on certain websites - such as Github and Google - I have an issue where the f

[2021-05-08 16:23] TheJags commented on #231
I too am having exact same issue on Ubuntu MATE 21.04 Hirsute.

In addition, when I enabled the repo for Hisute:

[code]
I get these `armhf` packages in `Synaptic`. Yesterday they were being displayed as `arm64` but after I ran `sudo apt update`, today it changed somehow:
![ungoogled_packages](https://user-images.githubusercontent.com/47936415/117546242-123baf00-b047-11eb-9c6f-340b209add01.jpg)

S

[2021-05-09 03:54] taivlam commented on #229
I've tried this and it actually worked?  I was really hesitant to try this because I didn't want to create a "franken-Debian".

(I find this a bit bizarre, because I had tried this on Parrot OS "for kicks" roughly two weeks ago, and recalled that this created some crucial missing package error in APT was only resolved after completely removing Ungoogled Chromium.  I'm not sure what has happened si

[2021-05-14 13:46] ghost commented on #231
The new build has a patch that addresses a similar problem with Arch's chromium packaging. Let me know if this is still an issue.

[2021-05-14 18:41] TheJags commented on #231
@braewoods by new build, did you mean `90.0.4430.93-1.hirsute1`?

Because I cleared apt package lists, clean, autoclean, autoremove, and then run apt update... but still Synaptic only offers ungoogled packages for `armhf` architecture (as I've mentioned in my previous post) on `amd64` desktop pc.

![uc_armhf](https://user-images.githubusercontent.com/47936415/118313921-0ea99b80-b511-11eb-9c2a-91a2

[2021-05-14 20:58] ghost commented on #231
It hasn't finished building yet. Patience. That was just when I pushed it out.

[2021-05-15 14:57] JosephReza commented on #231
Just updated now and it works, thank you very much!

I'll leave this open for you to close in case anyone else sitll has an issue with this still.

[2021-05-15 18:09] TheJags commented on #231
Okay. Just installed version `90.0.4430.212-1.hirsute1` and it's working just fine.

Thank you.

[2021-05-15 18:10] #231 closed, assigned to nobody

[2021-05-27 07:59] tomoyukikino opened #232 "Please... Please give me Ubuntu_Bionic ungoogled-chromium"
I want to install in another ubuntu18.04(Bionic) machine. but I cant.

because, Ubuntu_Bionic version is discontinued.
https://github.com/ungoogled-software/ungoogled-chromium-debian/commit/ebbe8aed9aa2568225f2dd4aad74df9c5a27da69

please... please give me  Ubuntu_Bionic ungoogled-chromium..
please😭😭😭😭

[2021-05-27 14:19] ghost commented on #232
18.04 is already discontinued on most of the flavors and I removed it because it was proving far too difficult to keep it building. 20.04 has already replaced it for the most part so I suggest you upgrade to it or a derivative based on it instead.

[2021-05-27 14:19] #232 closed, assigned to nobody

[2021-05-29 19:58] ghost opened #233 "Chromium 93"
Waiting on Debian upstream.

[2021-06-01 08:02] tomoyukikino commented on #232
@braewoods
okey, thanks. I do upgrarde.

[2021-06-09 23:24] bluesteal opened #234 "GPG Error when adding key"
gpg: no valid OpenPGP data found.

[2021-06-10 01:42] coltigore commented on #234
What desktop enviroment are you on?

[2021-06-10 04:07] bluesteal commented on #234
Debian Buster; I've also tried the appimage and flatpak. The appimage won't launch and the flatpak returns an error regarding an outdated version of flatpak.

[2021-06-10 13:28] bluesteal commented on #234
This was resolved by using the snap package

[2021-07-13 23:12] jorkanofaln opened #235 "Debian Bullseye release"
Hello,
I was wondering, when ungoogled-chromium will have a package for Debian 11. Debian 11 will be released soon as a stable release.

[2021-07-25 14:40] ghost commented on #233
@Eloston Debian upstream has fallen behind again. Should we just go it alone? This keeps happening and I'm beginning to tire of being hindered by it.

[2021-07-29 11:06] steefzilla opened #236 "Unavailable as default application in Ubuntu 20.04.2 LTS"
![image](https://user-images.githubusercontent.com/2222023/127481473-04b0ac30-4132-42f4-b64c-33f6c1dde85c.png)

Ungoogled Chromium is unavailable to select as the default application for web links in gnome-control center.

![image](https://user-images.githubusercontent.com/2222023/127481392-dbf806a7-b935-4f99-a323-9c86ddf64c0f.png)

![image](https://user-images.githubusercontent.com/2222023/127481

[2021-07-29 12:17] jorkanofaln commented on #233
It would be a good idea, since Debian is currently prepraring for Bullseye's release. Hence why some packages have been a bit slow to release. Can't the ungoogled chromium debian package use ungoogled chromium source code from github, instead of relying on Debian upstream?

[2021-07-29 19:13] eLvErDe commented on #235
I tried building myself but it's not working. crashing in some python code on an assert on enum values, I have absolutely no idea what's going on :(

[2021-08-02 22:19] SvenSemmler opened #237 "No video codecs supported (webrtc_video_engine.cc)"
Running Version 90.0.4430.212 (Developer Build, ungoogled-chromium) built on Debian buster/10, running on Debian buster/10 (64-bit) from http://download.opensuse.org/repositories/home:/ungoogled_chromium/Debian_Buster/

Use Case: WebEx conference; enable WebCam; see WebCam output locally but remote participants do not see video

Console output:

[1164:17:0802/170034.483429:ERROR:webrtc_video_engin

[2021-08-13 14:05] mpaunovic commented on #233
~~74 security issues~~  ~~81security issues~~ 100 security issues in sid...

https://security-tracker.debian.org/tracker/source-package/chromium

Following Debian release cycle of Chromium is unacceptable security wise. There has to be a better way.

[2021-08-22 03:44] Eloston commented on #233
Yeah I'm also getting tired of it too. Feel free to go ahead.

Also feel free to revive `unportable` if its complexity is more manageable.

[2021-08-22 03:45] ghost commented on #233
I'll look into it but I'm still setting up my new build server so I may end up waiting for Chromium 93.

[2021-08-27 19:44] Morpheus0x commented on #235
I successfully compile Chromium 90 Debian_Sid branch on Debian 11.
I installed ungoogled chromium and it worked.

How can I upload the deb files to OBS repository?

[2021-08-30 08:14] eLvErDe commented on #235
It's not working that way :D Nobody uploads binary from untrusted source for obvious reasons.

But I think everybody would be interested in the changes made to get it built !

[2021-08-30 10:07] Morpheus0x commented on #235
Oh ok, yea makes sense.
I haven't used OBS and find it a bit confusing.

I didn't change anything, I just built the Debian_Sid branch and everything worked.
That's probably because Bullseye is so new that basically all packages are the same and have the same version as Sid.

Could someone with access to this repo please create debian_bullseye branch from sid.
And then let OBS build for bullseye.

[2021-08-31 18:09] ghost commented on #233
We have Chromium 93 now and Debian upstream is still stuck at 90. I don't know why the Debian Chromium team have yet not packaged it, even though Debian Bullseye has long been released (comparatively).

[2021-09-02 10:15] mpaunovic commented on #233
Even the Debian team does not recommend using Chromium...

https://wiki.debian.org/Chromium#Installation

@braewoods

Maybe a README.md with a security warning or something like that would be a good idea?

[2021-09-18 01:27] yyyjajp commented on #237
Perhaps related to
https://stackoverflow.com/a/48326215

[2021-09-18 22:47] Eloston commented on #233
ungoogled-chromium has finally updated to 93. Sorry for the delay.

[2021-09-20 00:35] ghost commented on #233
Debian has just made a new release too, but not pushed to git

[2021-09-20 11:15] ghost commented on #233
git updated

[2021-09-20 11:16] ghost commented on #233
I'll get to work soon.

[2021-09-20 21:14] mekeor opened #238 "Debian Testing (Installation Instructions)"
- Debian version 11, called _Bullseye,_ has been released on August 14th, 2021. The testing release now called _Bookworm_.
- The README of this repository only holds installation instructions for _Buster_ (Debian 10) and _Sid_ (unstable).
- I.e. it seems that there were only installation instructions for the stable and for the unstable release – before Debian 11 had been released.
- How to install

[2021-09-24 19:09] ghost opened #239 "Microphone and webcam not working"
Hi, when I try to allow the access to the microphone to discord but it don't detect a microphone or webcam at all even though my mic/webcam is plugged in and work on firefox,chromium and all other app except ungoogled--chromium

Step To Reproduce:

- Go to discord.com.
- Login.
- Allow discord.com to have access to the microphone/webcam.
- Try to call someone.
- And the mic won't be detected.

Exp

[2021-09-27 20:57] eLvErDe commented on #233
Would love to get an update as well :-)

[2021-09-28 12:49] ghost commented on #238
Testing is close enough to Sid in general that we do not bother trying to support testing. Use Sid if you're wanting that.

[2021-09-28 12:49] #238 closed, assigned to nobody

[2021-09-28 16:21] ghost commented on #233
I'm working on Chromium 93. No idea when 94 will become available in Debian so for now this is it.

[2021-09-29 06:00] eLvErDe commented on #237
Hello,

I'm indeed pretty sure it's related to missing Cisco OpenH264, would you like me to provided a built to confirm this is the issue ?

Regards, Adam.

[2021-09-29 07:58] ghost commented on #233
@braewoods would you (re)consider going ahead of Debian, or perhaps contributing there?

[2021-09-29 10:18] ghost commented on #233
@gadall I don't use Debian other than to test packaging. And they have a fair amount of red tape to contributions so I have my doubts about that. I don't know yet what I plan to do about that. I need to get our packaging caught up first.

[2021-09-29 12:18] ghost commented on #233
@braewoods Becoming maintainer and signing and uploading on your own is indeed a process. But my experience in otherwise contributing to Debian has been very simple and straightforward: anyone can submit their proposed changed to the bug tracking system, or via salsa if the package is managed there (as is chromium) (simple registration, open to all). At that point it is much like any free software

[2021-09-29 14:31] SvenSemmler commented on #237
On 9/29/21 01:01, Adam Cécile wrote:

If that's an easy thing for you to do: yes.

Thank you!

--
  public key: https://www.svensemmler.org/2A632C537D744BC7.asc
fingerprint: DA59 75C9 ABC4 0C83 3B2F 620B 2A63 2C53 7D74 4BC7

[2021-09-29 14:38] eLvErDe commented on #237
@SvenSemmler

Here you go: https://cloud.le-vert.net/s/RXxNGxCxEvvX0fN

[2021-09-29 15:10] eLvErDe commented on #233
@braewoods

Do you also have debian_bullseye branch failing with ?

[code]

[2021-09-29 15:25] mytskine commented on #235
The situation of these Debian repositories as of now (2021-09-29) has worsened:
- The Debian 10 (buster, oldstable) index has been removed.
- The Debian 11 (bullseye, stable) index does not exist yet.
- The documentation (README.md) is broken, since it uses a path `.../DebianBullseye` that does not exist on the server.
I hope this is a transitive problem while updating this repository to the new D

[2021-09-29 15:38] SvenSemmler commented on #237
I will try later today and let you know. Thank you!

--
  public key: https://www.svensemmler.org/2A632C537D744BC7.asc
fingerprint: DA59 75C9 ABC4 0C83 3B2F 620B 2A63 2C53 7D74 4BC7

[2021-09-29 17:43] SvenSemmler commented on #237
@eLvErDe thank you again, I can confirm that your build works and I no longer see the issue.

[2021-09-29 18:11] debuggerboy opened #240 "Debian GNU/Linux 10 - apt repo showing error while apt update"
Hello,

I am using Debian GNU/Linux 10, I haven't yet upgraded to Debian GNU/Linux 11.

I am trying to do a `sudo apt get update` and I am getting below error.

[code]

When I check : `http://download.opensuse.org/repositories/home:/ungoogled_chromium/` I do not see a `Debian_Buster` directory.

[Imgur](https://imgur.com/hhVwQjM)

what might be causing this issue?

Thanks,
Anish

[2021-09-29 18:25] ghost commented on #233
Yes. I haven't isolated the issue yet but it seems to be due to an issue with Node or TypeScript.

[2021-09-29 18:30] ghost commented on #240
Support for Buster has been removed since the upstream we are derived from is no longer supporting it. I suggest updating to Bullseye once it is ready.

[2021-09-29 18:30] #240 closed, assigned to nobody

[2021-09-30 02:33] ghost commented on #235
Package built successfully on testing OBS. It should be finished on the production side in the next few days.

[2021-09-30 02:33] #235 closed, assigned to nobody

[2021-09-30 08:02] eLvErDe commented on #233
Did you find any workaround ?

[2021-09-30 10:34] eLvErDe commented on #237
Great.

I do think it's a real issue, I opened a jug at debian but got no reply...
This could be fixed on ungoogled chromium...

@braewoods whats your opinion about this ? I can provide a packaging patch to reintroduce h264 support

[2021-09-30 12:36] ghost commented on #233
Yes. It's already implemented for OBS. I haven't implemented it for manual builds for the moment.

[2021-09-30 13:01] eLvErDe commented on #233
Can you share the idea ? ;)

[2021-09-30 13:04] ghost commented on #233
It's simple. Download a newer typescript archive, extract it and rename the extracted directory to TypeScript, and change the absolute path in node_modules.py (or whatever it's called) for TypeScript to the path to the tsc binary in the directory. I'm just not sure how to incorporate this into the general build instructions and I don't want to include the tarball in git as that would be wasteful.

[2021-09-30 13:12] ghost commented on #236
Sounds like a desktop file issue. Will investigate further once current upgrade is done.

[2021-09-30 14:59] ghost commented on #237
@eLvErDe This is the kind of thing @Eloston would need to approve. I believe h264 is disabled for some licensing reason. The regular chromium also has it disabled from what I was reading.

[2021-09-30 19:42] ghost opened #241 "Separation from Debian upstream and unification of branches"
I've given it thought for sometime now and I think I've decided how I am going to solve the issue with our builds becoming outdated. The issue has always been due to delays with Debian upstream. I cannot expect this situation will correct itself anytime soon so I think our only option is to separate ourselves and maintain our own packaging.

On that note I also think it would be most productive to

[2021-10-01 09:07] eLvErDe commented on #233
@braewoods thanks for the hint, I went for a different path and simply installed node-typescript from Debian Sid, that solve the issue.
However the job ended up failing at the very end:

[code]

Got this one too ?

[2021-10-03 10:41] BaN-Co commented on #233
@eLvErDe
I've successfully build the package on Ubuntu Hirsute, but I've encountered this bug "Cannot handle 8-byte build ID":
https://bugs.launchpad.net/ubuntu/+source/debhelper/+bug/1929120
And fixed it like in this patch:
https://git.pld-linux.org/?p=packages/ccache.git;a=commitdiff;h=0435ed4f5c3b8687b660073e157e82d474fc4eda;hp=a25c6b7178190592c717e54c81549e375b6c1932
By disabling faster linker

[2021-10-03 10:55] eLvErDe commented on #237
I successfully built debian 11 package with h264 enabled, are you interested in @SvenSemmler

@braewoods would you consider re-opening this ticket ? In my opinion that's a quite severe issue, all debian-ecosystem chromium are shipped *without* h264 WebRTC support and this discussion has to be brought back on top...

[2021-10-03 10:57] eLvErDe commented on #233
@braewoods

For the record, the issue I had with the python script was because I reintroduced open h264 in the package to fix broken WebRTC support and the script was failing because it misses hashed of these readded files.
Sadly there's not much I can do as these files are stripped for no good reason by ungoogle chromium scripts so I just disabled the check to get the build done.

[2021-10-03 15:31] ghost commented on #233
BTW Chromium 94 has been released so I think you all should instead try getting the build working with Chromium 94 directly.

[2021-10-04 03:28] Maia-Everett commented on #233
Could you please update Ubuntu builds? They're 5 months old and still have version 90.

[2021-10-04 18:40] Amr-Ibra commented on #241
Could you please think about helping maintain the Debian package upstream instead of maintaining a separate downstream packaging?
https://tracker.debian.org/pkg/chromium
You don't have to be a Debian developer for it.

The packaging is here:
https://salsa.debian.org/chromium-team/chromium

Maybe @mimi89999 could help with that. He is the last uploader in Debian unstable.

[2021-10-05 10:00] mpaunovic commented on #233
If anyone is interested, up-to-date Ubuntu builds (AppImage and Flatpak respectively):

https://github.com/macchrome/linchrome/releases/latest

https://flathub.org/apps/details/com.github.Eloston.UngoogledChromium

[2021-10-05 17:07] ghost commented on #241
@Amr-Ibra I have been doing this for over a year. Debian upstream has been a recurring source of frustration from the lack of regular updates. I often end up undoing things they do upstream because they are not compatible with our requirements, namely that we're trying to support multiple semi-compatible releases and Debian only cares about their own releases.

That and I don't particularly care t

[2021-10-06 04:14] Eloston commented on #241
I agree with all your points @braewoods, and it is essentially the reason why I created unportable a while back. We should consider reviving it and build it against the oldest Debian distro we want to support.

While we make unportable the default branch, we could keep the other branches around if someone comes along and is interested in maintaining a version that is closer to Debian's packaging (

[2021-10-06 04:18] Eloston commented on #241
Another point we can consider in a separate discussion is what exactly we want to include in the lowest common denominator build. Do we want no system integrations just like the upstream Portable Linux build? Enabling keyring support? How about VA-API (I personally use this)?

[2021-10-06 04:21] ghost commented on #241
I would prefer to link to system libraries only when they are stable enough to not require constant patching to keep up with upstream Chromium changes. This means we would no longer be using system ICU at the very least.

[2021-10-06 04:22] ghost commented on #241
In essence I would like to achieve a package that doesn't get heavily patched beyond our UC patchset so we can have a package that is truer to what we envision UC to be.

[2021-10-06 06:54] nestukh commented on #240
I'm having the same problem, but it's ok.
I'd like to add to the conversation that personally I wait to upgrade to last stable Debian until November or holiday season in December, usually for critical bugs being addressed after the initial release, new Firefox ESR later in October, downtime opportunity, and the peace of mind for fixing new bugs (you know how it works, old problems get resolved but

[2021-10-06 17:39] Eloston commented on #241
Sure, makes sense to me. Keyring support is a feature that doesn't require any patching. VA-API requires some patching, but usually I grab those patches from Arch Linux since their packaging updates quickly. I agree that we should avoid creating any patches of our own.

[2021-10-06 17:48] Eloston opened #242 "[bullseye] Local building is broken"
Due to d64319321e77f43823f102d12fb58b926871407e, the build instructions no longer work: https://github.com/ungoogled-software/ungoogled-chromium-debian/tree/debian_bullseye#building

We need some way to download these external dependencies that is independent of the OBS workflow

[2021-10-06 18:19] Eloston commented on #237
@braewoods We have enabled proprietary codecs here: https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/ff59a86d08b40f3847d9f694d897989f472cd799/debian/rules#L102-L103
This includes H264, but this is applicable to regular video playback. For WebRTC, it seems there is another flag that is set to false here: https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/ff59a8

[2021-10-06 19:34] #237 closed, assigned to nobody

[2021-10-06 23:00] ghost commented on #241
I've started work on a new set of packaging files that I am building from the ground up to break away from most of the legacy baggage in the existing set. My goal is going to be having a single branch supporting all our current release targets and minimize any release specific bits. That should greatly help as if it can be made to compile on the oldest supported release it should work just fine on

[2021-10-06 23:02] ghost commented on #241
I got this idea from seeing how Fedora packaging is able to do this with a single set of packaging files for all the Fedora related releases and some CentOS ones as well.

[2021-10-06 23:11] ghost commented on #242
The issue is that the bullseye typescript package doesn't work with Chromium 93. I'm not sure why exactly but including a new typescript distribution solved the issue.

[2021-10-13 05:39] backlux opened #244 "Help needed, how to rebuild without clean"
Hello, I'm new to debian. Already built the package. But I need to modify part of the code, after make changes.

dpkg-buildpackage -b -uc -nc won't rebuild changed source codes.

Any idea how to modify the debian/rules or how to config dpkg-buildpackage  to rebuild part without clean.

Thanks for your help!

[2021-10-13 18:19] tnaftali opened #245 "[unified] Bookmarks and extensions are broken"
**Describe the bug**
When I open `chrome://bookmarks` and `chrome://extensions` I can't see anything despite having both many bookmarks and extensions.

**To Reproduce**
1. Go to `chrome://bookmarks` or `chrome://extensions`

**Screenshots**
![image](https://user-images.githubusercontent.com/8753873/137190389-2d1ce031-42f3-4eca-8d76-8f26050624db.png)

![image](https://user-images.githubusercontent

[2021-10-15 21:03] ghost commented on #241
This is now complete. I have setup the new unified packaging set. @Eloston please review the new stuff and change what else you think it needs. I've done as best as I can but it should be much easier to maintain for future upgrades.

[2021-10-15 21:03] #241 closed, assigned to nobody

[2021-10-16 02:21] sourav-majumdar-math opened #246 "No hash entry in release file in the open suse repo"
I use the open suse repo to get ungoogled-chromium on Ubuntu 20.04. I get the following error

[code]

[2021-10-16 07:23] ghost commented on #246
I'm aware. I'm currently working on the new packaging to make Chromium 94 available.

[2021-10-16 11:44] markozajc commented on #245
This is a problem with Debian's upstream: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=994888

[2021-10-16 20:13] ghost commented on #246
Ok. It should be available for all but Impish once the builds finish. Impish is having issues on OBS that I am going to wait a bit longer on to investigate as I suspect they are temporary issues due to the recent addition of Impish to OBS.

[2021-10-16 20:31] ghost commented on #244
Normally this is done by introducing the change as a patch and adding it to the series file. Please clone a fresh repository and try again. I have updated the packaging with a whole new set.

[2021-10-16 20:31] #244 closed, assigned to nobody

[2021-10-16 20:32] ghost commented on #242
This is no longer busted with the new packaging.

[2021-10-16 20:32] #242 closed, assigned to nobody

[2021-10-16 20:32] ghost commented on #233
New packaging is finally finished. I expect @Eloston to want to make further changes but for now it gives us Chromium 94.

[2021-10-16 20:32] #233 closed, assigned to nobody

[2021-10-17 00:32] markozajc opened #247 "[unified] Severe usability issues on the unified build"
For the past hour I've been trying to get my extensions to work on UGC 94.0.4606.81 to work on Debian Bookworm. So far I've bumped into:
- Webpages not loading at all unless HTTPs and uBlock Origin are disabled
- uMatrix broke completely, reinstalling it fixed it, but it hangs and goes back to the broken state whenever I try to restore the settings. If I apply rules little by little (I have about

[2021-10-17 01:41] gcvl commented on #247
Same here on Bullseye.

[2021-10-17 02:45] sourav-majumdar-math commented on #246
Thanks for looking into it. I am on Focal and I continue to get the same error message

[2021-10-17 06:02] brainchild0 commented on #246
For me, this issue has been resolved, since about several hours before my writing this comment.

[2021-10-17 06:20] sagarvora commented on #247
I have the same issue on Ubuntu Focal. Any pointers on how to downgrade?

[2021-10-17 06:21] sourav-majumdar-math commented on #246
It is resolved for me too, I guess I should close the issue with this.

[2021-10-17 06:21] #246 closed, assigned to nobody

[2021-10-17 07:47] eLvErDe commented on #233
@braewoods thanks ! I might be interested in building this on debian 10, have you made any attempt ?

[2021-10-17 08:57] ghost commented on #233
@eLvErDe No but I doubt it would be easy. It has a much older Clang version than what I based this packaging set on. I thought it best to rebase on Clang 11 since Debian has shown no interest in trying to keep building for buster that I can tell.

[2021-10-17 10:37] markozajc commented on #247
@sagarvora I don't think OBS keeps an archive of releases, but I could be wrong. Your best bet would probably be checking out the commit for 93 in this repository (not sure which and on which branch), and building it manually.

[2021-10-17 11:51] markozajc commented on #245
Fixed in 94.0.4606.81

[2021-10-17 13:32] eLvErDe commented on #233
Actually I did try a bit and it seems doable.
It needs clan-11 and newer libdrm-dev but both are available in buster-backports.
There's one additional issue, it's using /usr/bin/env python in scripts but python-is-python3 is not available but it's installing just fine (however a cleaner workaround would be to create a symlink in build folder and override $PATH).
Sadly after that it crashed with so

[2021-10-17 19:51] awsms commented on #247
No page will load for me, even after disabling every single extension.
Using Mint 20

edit: works after relaunching the browser twice.

[2021-10-18 12:16] tnaftali commented on #245
Hi @markozajc sorry but how can I upgrade to the fixed version from apt?

![image](https://user-images.githubusercontent.com/8753873/137728502-f99752a7-600f-4402-bdc7-1abfb95b7593.png)

[2021-10-18 12:47] markozajc commented on #245
@tnaftali update your index with `sudo apt update`. `ungoogled-chromium` no longer depends on `-common` or `-sandbox`.
P.S. UGC 94.0.4606.81-1 is pretty broken as described in #247, you might want to stay on 93.

[2021-10-18 13:13] ghost commented on #247
I'm seeing various browser operations hang, it can be midway while loading a web page, installing or updating an extension, or clearing the cache.
At first after starting the browser I can open a page or two and as soon as something gets stuck, subsequent operations hang indefinitely, such as attempting to load a new page, etc., at some point pages don't even begin to load at all anymore.
Indeed d

[2021-10-18 13:17] markozajc commented on #247
I've observed similar symptoms here too. The browser hung and wouldn't respond anymore after resuming from STR, and generally acted very unresponsive. Could this be an issue with the new memory allocator?

[2021-10-18 13:18] sagarvora commented on #247
I think the new `unified` build isn't working as expected. Perhaps someone can try the Flatpak to see if the issue persists

[2021-10-18 13:33] markozajc commented on #247
@sagarvora It looks like the release from Flatpak doesn't have these problems (which probably means they're also localized to this project, not ungoogled-chromium in general).
I've tried installing uMatrix on a new profile and importing my ruleset on both:
- Flatpak: installed the extension (unpacked), and imported and committed the ruleset without problems
- Debian: took two tries to install the

[2021-10-18 13:33] ghost commented on #247
Tried with a brand new profile (rm -rf rm -rf .cache/chromium/*; mv .config/chromium .config/chromium-1) and so far it seems to be working.
Opening several tabs in several windows, and installed one extension (Proxy SwitchyOmega, hard to live without in this ehhm particular country) and so far so good. The only problem I've noticed so far was in the chrome://extensions/ page, it's just erratic, I

[2021-10-18 13:36] markozajc commented on #247
Did not work for me with uMatrix, same issue as before.

[2021-10-18 13:43] ghost commented on #247
Now I tried adding uBlock Origin and everything immediately stopped working. Disabling it on the chrome://extensions/ page immediately made the pending page loads go ahead and complete. This is on the fresh profile, better result than on my exisiting one.

[2021-10-18 13:45] ghost commented on #247
And, it's rapidly degrading. At this point (uBlock Origin disabled) some specific pages consistently hang halfway while loading.

[2021-10-18 15:28] VariabileAleatoria opened #248 "Failing to install on Ubuntu 21.10"
`curl -s 'https://download.opensuse.org/repositories/home:/ungoogled_chromium/Ubuntu_Impish/Release.key' | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/home-ungoogled_chromium.gpg > /dev/null` is failing because the URL gives 404 error

[2021-10-18 16:09] markozajc commented on #248
Looks like Impish isn't being built for some reason.
https://build.opensuse.org/package/binaries/home:ungoogled_chromium/ungoogled-chromium-debian/Ubuntu_Impish

[2021-10-18 19:35] awsms commented on #248
"The build can not begin, because required packages are either missing or not explicitly defined.

unresolvable: nothing provides libllvm11 = 1:11.0.1-2ubuntu4 needed by lld-11, (got version 1:11.0.1-2ubuntu5), nothing provides libllvm11 = 1:11.0.1-2ubuntu4 needed by llvm-11-dev, (got version 1:11.0.1-2ubuntu5), nothing provides gcc-11 >= 11.2.0-1~ needed by gcc, (got version 11.1.0-2ubuntu1)"

[2021-10-18 20:42] ghost commented on #248
I'm assuming it's an OBS issue as I was able to complete the build in a local Impish container. I have more serious issues to investigate right now as there's apparently something breaking extensions with the new packaging set.

[2021-10-20 21:15] lf94 opened #249 "Fallback to 93?"
As per everyone's comments, updating to 94 totally kills the browser.

Where is the debian package for 93 available from for others, or for when another situation like this arises?

Thanks!

[2021-10-21 08:01] ghost commented on #249
It's not really available anymore. You can try to use the old packaging but it's history. I expect to fix the issues going forward anyway so I don't see any point in working on 93 anymore.

[2021-10-21 08:01] #249 closed, assigned to nobody

[2021-10-21 09:53] a-kriya commented on #247
@markozajc Anything we can do to help figure out the issue here? What are the differences with the Flatpak build in configuration?

[2021-10-21 12:34] markozajc commented on #247
@a-kriya I'm not a maintainer.

[2021-10-21 15:37] a-kriya commented on #247
@markozajc My bad.

@braewoods Are you going to be able to help with this? Is there any other member of @ungoogled-software that we can bring this in attention of?

[2021-10-21 15:45] ghost commented on #247
@a-kriya You're asking me an impossible question. I don't even know what's causing this. And I don't know chromium that well to even know where to begin to look. All I can guess is it's something to do with packaging differences.

[2021-10-21 15:56] awsms commented on #247
@a-kriya
not the first time debian builds are f*cked up, there was another severe issue in a recent build (where the browser would randomly crash). you have to ask this to debian chromium's maintainers (chromium@packages.debian.org).

[2021-10-21 15:57] markozajc commented on #247
@awsms I believe ungoogled-chromium-debian doesn't take from debian's downstream since 94.

[2021-10-21 15:58] ghost commented on #247
That is correct now. I am currently seeing if Chromium 95 helps at all before looking at the packaging again.

[2021-10-21 15:59] ghost commented on #247
I am currently building Chromium 95 on OBS testing repository. I'll see if there's any new build breakage.

[2021-10-21 16:01] ghost commented on #247
On the bright side seems Impish is finally working now.

[2021-10-22 03:01] ghost commented on #247
I speak too soon. Still some kind of build issue with Impish. I've sent an updated build to OBS after fixing build failure with Sid.

[2021-10-22 03:04] ghost commented on #247
I'll do a manual build of Impish since OBS still isn't working currently.

[2021-10-22 06:21] ghost commented on #247
Ok. I just tagged chromium 95 since it works well enough to build. Let me know if the problem is still present. If it is I'll look into some other things I haven't tried yet.

[2021-10-22 06:25] ghost commented on #247
Also if anyone cares to try their hand at fixing it I'm willing to review PRs.

[2021-10-22 16:13] awsms commented on #247
@braewoods: will the v95 builds be available on opensuse repo any time soon for other distros as well? (if you're the one managing it)

[2021-10-22 20:03] ghost commented on #247
Whenever OBS gets around to building them. x86_64 is still delayed by lack of available workers.

[2021-10-22 22:27] markozajc commented on #247
I have built the package manually on my system, and it seems that upgrading to Chromium 95 did not resolve the issues.

[2021-10-23 00:03] ghost commented on #247
Ok, can you document your exact process for reproducing it from a fresh profile? I need something to test against if I am going to get anywhere.

[2021-10-23 00:21] markozajc commented on #247
Firstly:
1) Download and extract uMatrix: https://github.com/gorhill/uMatrix/releases/download/1.4.4/uMatrix_1.4.4.chromium.zip
2) Download 5000 dummy uMatrix rules: https://files.zajc.eu.org/unlist/5000-rules.txt

After you're done, run Chromium
1) Head to chrome://extensions/
2) Enable 'Developer mode'
3) Click 'Load unpacked'
4) Select your unextracted uMatrix directory
5) If the extension does

[2021-10-23 07:25] Polve commented on #248
Even the PGP key is not available anymore, this url gives error:
https://download.opensuse.org/repositories/home:/ungoogled_chromium/Ubuntu_Impish/Release.key

[2021-10-23 09:34] ghost commented on #248
It never existed because we haven't yet built any Impish packages. It's an OBS issue still.

[2021-10-24 04:14] dkebler commented on #247
Reporting that I used the flatpak build and all is good with 95.0.4638.54.    What is different about that build?  Who is responsible for that build anyway?

FYI in focal I had to use the flatpak ppa to get the latest version (universe was way stale) otherwise this version of ungoogled would not install https://flatpak.org/setup/Ubuntu/

[2021-10-24 10:22] ghost commented on #247
As reported in https://github.com/Eloston/ungoogled-chromium/issues/1703 and https://github.com/Eloston/ungoogled-chromium/issues/1698, confirmed with a new profile on self-built ungoogled-chromium-debian 95.0.4638.54-1

- Head to chrome://extensions/
- Enable 'Developer mode'
- Drag in the .crx file for uBlock Origin 1.38.6. Note: I have to do this 3 times. It fails on the first two attempts, and

[2021-10-24 15:18] Fallast opened #252 "Can't install on Mx linux"
i followed the instructions but this is what i get
`
The following packages have unmet dependencies:
 ungoogled-chromium : Depends: libc6 (>= 2.29) but 2.28-10 is to be installed
                      Depends: libevent-2.1-7 (>= 2.1.8-stable) but it is not installable
                      Depends: libfreetype6 (>= 2.10.1) but 2.9.1-3+deb10u2 is to be installed
                      Depends: libjp

[2021-10-24 15:47] markozajc commented on #252
Your distribution's packages are outdated.

[2021-10-24 22:04] RanTrycl opened #253 "Page Unresponsive errors immediately after update (duplicate)"
Version 94.0.4606.81 (Official Build, ungoogled-chromium) Ubuntu (64-bit)

running on 20.4

Immediately after updating UC, the sites I'm logged into such as forums, or sites with heavy scripting, have gone mostly unresponsive.

Pages hang indefinitely with "page unresponsive" error. The page can be reached by quitting and restarting chromium, but only one page displays normally before the "page un

[2021-10-24 22:06] markozajc commented on #253
Seems like #247. Currently the only workaround is downgrading to 93 by manually building the older package.

[2021-10-24 22:07] RanTrycl commented on #253
Oh I see, yes, same issue, thank you. Should I delete this?

[2021-10-24 22:08] markozajc commented on #253
You could close it.

[2021-10-24 22:10] #253 closed, assigned to nobody

[2021-10-24 22:38] awsms commented on #253
Could we have a hint how to aim for a certain version when building? I've never done this before

[2021-10-24 23:51] markozajc commented on #253
Instructions on building 93 are in the pre-unified branches. If you want to build something older, you'll have to dig a bit, but 93 should work for the most part.

Copy-paste the build instructions into a terminal (preferably line-by-line, ignoring comments).
[code]
If you want UGC to build faster (it usually takes quite a while), add `-j<number>` to `dpkg-buildpackage`, number being the amount of

[2021-10-25 02:58] Eloston commented on #247
@braewoods I just took a quick look through `unified` for the first time, and you have a pretty novel setup. As a result, I'm not sure if this will help you, but I have a working version of unportable here: https://github.com/ungoogled-software/ungoogled-chromium-debian/commit/a3103329c50da74ea5736892439981dd186e19ea

* Builds version 94.0.4606.81 on Bullseye
* Uses LLVM 13 from apt.llvm.org and `

[2021-10-25 03:01] Eloston opened #254 "[unified] Use of /etc/chromium-flags.conf"
One thing that popped out to me on initial inspection of unified is `chromium-flags.conf`. Will this be overwritten on each package update? In regular Debian builds and unportable, we read files within `/etc/chromium.d` to avoid package updates from stomping over the user's changes.

[2021-10-25 03:41] ghost commented on #252
We don't support Buster or distributions based on it anymore. Please upgrade and try again.

[2021-10-25 03:41] #252 closed, assigned to nobody

[2021-10-25 03:44] ghost commented on #254
It's because I switched to the launcher that we use over on Arch which just used a single file containing line terminated arguments to find arguments to append to chromium. I assumed dpkg / apt will automatically handle anything under /etc for backups. I only plan to change this file if there's some arguments we need to add by default. I'll test this later to see if it's actually an issue.

[2021-10-25 06:14] Eloston commented on #254
So apt in interactive mode (the default) will prompt the user what to do about the user-made modifications to package files. That's why Debian modifies packages to use `.d` directories so that packages can introduce new flags and users can add their own flags without causing a conflict at install time.

I personally have some flags to change the Chromium cache directory and enable Wayland. Also, i

[2021-10-27 14:59] peebowo commented on #247
Same thing here on Devuan Ceres.

[2021-10-30 04:11] Eloston opened #255 "New releases via unportable (for now)"
### What

`unportable` is a lightweight wrapper over [ungoogled-chromium-portablelinux](https://github.com/ungoogled-software/ungoogled-chromium-portablelinux) with a few key differences:

- Enabled support for Wayland with Pipewire support in WebRTC (for screensharing)
- Enabled VA-API support (as of Chromium 96.0.4664.93, it is supported on Wayland and X11)
- Builds on Debian 11 (bullseye) with

[2021-10-30 04:12] Eloston commented on #255
`95.0.4638.69-1.unportable1`: https://github.com/ungoogled-software/ungoogled-chromium-debian/commit/94a098d53c5f6e8de3c494b099744ec8a56fa216

[2021-10-30 08:06] ghost commented on #247
New 95 release merged into `unified`. I am going to see if it builds on OBS and then start trying some tweaks to address the issue here.

[2021-10-30 11:16] ghost commented on #247
Well at least all the remaining Impish specific issues on OBS have been fixed. So now just need to figure out what's going on with the builds in general.

[2021-11-02 12:45] ghost commented on #247
Part of the problem has been resolved by adding back the launcher flags I omitted. At least it appears to allows the extensions page to import extensions without issue now. I still need to see if there's any solution for the slow import loading.

[2021-11-09 13:40] q64ceo opened #259 "Request: autoscoll built in plus the ability to change scroll speeds"
One of the most frustrating things I find about Chromium browsers on Linux is how they work with scrolling. One must use an extension to get autoscroll (pressing the middle mouse button and moving the page around with the movement of the mouse.) One must also use an extension for changing the scroll speed. There is also a way to do it with imwheel, but it does not work on Flatpak apps.

Please get

[2021-11-09 14:19] shaheenfawzy commented on #247
Are there any updates regarding this issue?

[2021-11-09 14:20] ghost commented on #247
Not really, no. I'm only one guy and haven't managed to find the problem yet.

[2021-11-09 15:36] Kwaskoff commented on #248
@polve you can use this thread

[code]

[2021-11-09 15:52] ghost commented on #248
@Kwaskoff That's not intended for actual use.

[2021-11-09 18:35] Kwaskoff opened #260 "error: fakeroot debian/rules binary subprocess returned exit status 2"
after this command
`dpkg-buildpackage -b -uc`
my computer was rebooted
and now it doesn't want building
ending looks like

[code]
help please

[2021-11-09 22:28] ghost commented on #260
Probably because the old patches are still applied. Restart from a fresh build environment.

[2021-11-10 09:41] Kwaskoff commented on #260
yep, I did like you told. It works

[2021-11-10 09:41] #260 closed, assigned to nobody

[2021-11-10 10:06] Kwaskoff opened #261 "extensions and downloads don't work"
I have build by myself Version 95.0.4638.69 (Official Build, ungoogled-chromium) Ubuntu 21.10 (64-bit)
And it have troubles with extensions and downloads
I switched to developer mode and load unpacked extensions
I tested uBlock - it didn't open
I tested Metamask - it didn't open and had errors, when I wanted to open errors - it was frozen
![Screenshot from 2021-11-10 12-43-46](https://user-images.

[2021-11-10 11:54] markozajc commented on #261
Likely related to #247.
The workaround for now is to use Eloston's unportable builds, which don't have this issue: https://github.com/Eloston/ungoogled-chromium-binaries/releases

[2021-11-10 19:56] Kwaskoff commented on #261
@markozajc do you know which different? Eloston made fork..

[2021-11-10 21:09] markozajc commented on #261
Read #255.

[2021-11-12 08:17] arthurlch opened #262 "apt remove issues"
I want to uninstall the software from my machine.

Apt list result : ungoogled-chromium-common/unknown 90.0.4430.212-1.hirsute1 amd64
ungoogled-chromium-common/unknown 90.0.4430.212-1.hirsute1 arm64
ungoogled-chromium-common/unknown 90.0.4430.212-1.hirsute1 armhf
ungoogled-chromium-driver/unknown 90.0.4430.212-1.hirsute1 amd64
ungoogled-chromium-driver/unknown 90.0.4430.212-1.hirsute1 arm64
ungoog

[2021-11-12 12:57] markozajc commented on #262
`apt list` by default lists all available packages. You need to use the `--installed` flag to only get the installed packages, which I'm not sure if you did.

Please send the output of `dpkg -l | grep chromium`, `dpkg -S "$(whereis chromium | awk '{print $2}')"`, and `whereis chromium`

[2021-11-12 17:00] arthurlch commented on #262
Thanks for your reply & help.
I didn't know that flag!

dpkg -l | grep chromium => No output
dpkg -S "$(whereis chromium | awk '{print $2}')" => chrome-gnome-shell: /etc/chromium
whereis chromium => chromium: /etc/chromium

[2021-11-12 19:05] markozajc commented on #262
Looks like chromium is not installed, at least not via apt. Make sure to check flatpak and snap (if you have them). You might also want to check if you have chrome installed.

This is also not a problem with ungoogled-chromium, so you should probably close the issue.

[2021-11-12 22:22] #262 closed, assigned to nobody

[2021-11-18 19:15] ToastedGuy2 opened #263 "Failing to install on Linux Mint 20.2"
I followed the instructions from [ungoogled-chromium-debian ](https://github.com/ungoogled-software/ungoogled-chromium-debian) to attempt to install ungoogle-chromium **Ubuntu Focal** version, but it fails.
Look:
[code]

What did i try to solve this issue?
Install the previous mentioned dependencies which throw one of the two following messages:
- First
[code]

- Second
[code]
So what can i do to

[2021-11-19 08:34] Eloston commented on #255
`96.0.4664.45-1.unportable1`: bf386746ffff4d5da44051f3a33aaced49fe2452

[2021-11-19 11:11] GarikTester commented on #247
You can always look at this guy's recipe - he never gets a single glitch. Everything related to build options, patches, etc. Besides, its build is unified.

http://www.slackware.com/~alien/slackbuilds/chromium-ungoogled/build/chromium.SlackBuild - build recipe.
http://www.slackware.com/~alien/slackbuilds/chromium-ungoogled/build/  - build directory (patches, icons etc.)
http://www.slackware.com/~a

[2021-11-19 18:19] Motor-head opened #264 "Release binaries for version 96.0.4664.45"
The last build is still 95.0.4638.54 and I'm relying on debs from this git to install the packages.

[2021-11-21 14:11] ghost commented on #263
You probably installed the wrong repository given the dependency issues. What's in `/etc/apt/sources.list.d/home-ungoogled_chromium.list`?

[2021-11-22 16:21] dkebler commented on #264
so if I understand correctly this will not resolve #247

[2021-11-22 18:02] markozajc commented on #264
I believe not. The unified build currently has problems due to its configuration, not because it's an outdated version.

[2021-11-24 09:23] PLAYERUNKNOWNHatsune01 opened #265 "[unified] Installing one extension makes ungoogle-chromium stop woking!"
Try to install ublock. Open new tab search google.com it just the page just keep loading!

I use Ubuntu focal
Version 95.0.4638.54

[2021-11-24 13:47] markozajc commented on #265
Likely a duplicate of #247.
The current workaround is to use the unportable version by Eloston at `https://github.com/Eloston/ungoogled-chromium-binaries/releases`.

[2021-11-24 15:27] GarikTester commented on #265
Will Eloston's unportable build work on 2600k Sandy Bridge with that -march-skylake option?
Will it be necessary to reconfigure (or re-create) the profile when switching to unified build by @braewoods, when it will be polished enough?

[2021-11-24 15:30] markozajc commented on #265
Unsure, try running it to find out. You can build it yourself with the correct configuration or open an issue on that repository to add support for it in case it doesn't work.

No, as long as the Chromium version of the unified build is equal or higher to the unportable one when you run it (though it doesn't hurt to make a backup either way).

[2021-11-26 17:28] HelloYes1 opened #266 "[unified] Page unresponsive: “ You can wait for it to become responsive or exit the page.”"
Other browsers work (Firefox, Brave, Edge) and also Chromium. Tried Chromium today.

Ungoogled Chromium does not work for me. Most sites start to hang within seconds.
"chrome://flags/#extension-mime-request-handling" hangs within a second.

Installed it from here (multiple times now):
http://download.opensuse.org/repositories/home:/ungoogled_chromium/Ubuntu_Impish/
Following these steps (with a re

[2021-11-26 19:56] markozajc commented on #266
Likely a duplicate of #247.
The current workaround is to use the unportable version by Eloston at https://github.com/Eloston/ungoogled-chromium-binaries (the prebuilt binaries seem to be built for Debian Bullseye, so you might have to build it yourself if they don't work on your system).

[2021-11-26 21:12] HelloYes1 commented on #266
Could surely be, an extension like uBlock almost stops everything in my browser.
I don't want to be unthankful, but I think it ends here for me. Sadly I would not even know where to start or how to obtain sufficient knowledge to get started. Ubuntu is on my PC now for 2 weeks. Please let me know if I can test something. Or if there's some sort of information on how to get things like this done (fo

[2021-11-26 21:44] markozajc commented on #266
Create a new directory (call it whatever you want), and download the following files into it:
- [ungoogled-chromium-common](https://github.com/Eloston/ungoogled-chromium-binaries/releases/download/95.0.4638.69-1.unportable1/ungoogled-chromium-common_95.0.4638.69-1.unportable1_amd64.deb)
- [ungoogled-chromium-driver](https://github.com/Eloston/ungoogled-chromium-binaries/releases/download/95.0.4638

[2021-11-26 22:15] HelloYes1 commented on #266
Wow, this is great!
I did as you described. Download of the files and install and it's working correctly as far as I see. Things that didn't work before do work now. Thats for sure.

The uBlock extension is also working

Placed this message with the ungoogled chromium browser.
"Version 95.0.4638.69 (Official Build, ungoogled-chromium) built on Debian bullseye/11, running on Ubuntu impish/21.10 (64

[2021-11-28 18:32] Fulguritude commented on #263
Similar error on my end.

First, trying Impish:
[code]

Trying with Focal instead I get:

[code]

With Debian Bullseye and Debian Sid, same error:
[code]

[2021-11-28 18:34] ghost commented on #263
Both of you are trying to use the Impish package on a non-Impish distribution release. Fix your repositories and try again.

[2021-11-28 18:34] #263 closed, assigned to nobody

[2021-11-28 18:39] Fulguritude commented on #263
I've edited my message. None of the 4 repos provided work for my distro.

[2021-11-28 18:40] ghost commented on #263
21.04 is no longer supported by us. You'll have to upgrade.

[2021-11-28 18:42] Fulguritude commented on #263
Welp, no 21.10 on Pop OS yet. Guess I'll have to wait.

[2021-11-29 16:43] danzankul opened #267 "How to uninstall ungoogled chromium installed with curl"
Hi I am using ubuntu 20.04 and I installed ungoogled chromium via curl https://ungoogled-chromium.run | bash method because I do not have snap, as explained  at https://github.com/Joffreybvn/ungoogled-chromium-snapcraft.
Now, since ANY link is blocked by this chromium release and I can't use such browser (I won't get crazy to workaround such issue) I'm in trouble because I do not find a way to uni

[2021-11-29 21:58] markozajc commented on #267
I don't follow. `https://ungoogled-chromium.run/` installs the snap version, which has nothing to do with this repository. Do you mean that since you can't use it you're using this? In such case, see #247 and below for further discussion on the hang issue.

The current workaround is to use the unportable version by Eloston at https://github.com/Eloston/ungoogled-chromium-binaries (the prebuilt bin

[2021-11-29 22:17] markozajc commented on #267
This issue is related to the snap version of ungoogled chromium, not the debian one. Here's the solution nevertheless:
[code]

[2021-11-30 14:30] alexgill opened #268 "Launching on Bullseye give a Seg Fault"
[56945:56945:1130/091831.548324:ERROR:sandbox_linux.cc(374)] InitializeSandbox() called with multiple threads in process gpu-process.
Segmentation fault

Hello,
I didn't get too far. Any thought welcome. Thanks.

[2021-12-01 05:24] xoxloviwan opened #269 "page chrome://flags/ freezes"
page chrome://flags/ freezes on version

`http://download.opensuse.org/repositories/home:/ungoogled_chromium/Ubuntu_Focal  ungoogled-chromium 95.0.4638.54-1 [76,8 MB]`

and then crashed with code error 5.

`5.11.0-40-generic #44~20.04.2-Ubuntu SMP Tue Oct 26 18:07:44 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

[2021-12-01 06:44] #267 closed, assigned to nobody

[2021-12-01 14:00] markozajc commented on #269
Likely a duplicate of #247. Install [Eloston's unportable builds](https://github.com/Eloston/ungoogled-chromium-binaries/releases) as a workaround (NB: they're built on Debian Bullseye, so they might not work on Ubuntu. You'll have to compile it yourself in that case).

[2021-12-03 20:07] xoxloviwan commented on #269
I install https://github.com/Eloston/ungoogled-chromium-binaries/releases/download/95.0.4638.69-1.unportable1/ungoogled-chromium-common_95.0.4638.69-1.unportable1_amd64.deb
and
https://github.com/Eloston/ungoogled-chromium-binaries/releases/download/95.0.4638.69-1.unportable1/ungoogled-chromium_95.0.4638.69-1.unportable1_amd64.deb
and this treats it

[2021-12-03 20:07] #269 closed, assigned to nobody

[2021-12-07 01:35] RegalCucks commented on #266
Having the same issue, using Mint (Ubuntu Focal) and after being unable to manually download extensions via crxextractor.com (file never completes download), I tried going to Chrome://Flags to change the extensions setting and get the same "unresponsive" message and the whole browser has to be restarted 4-5 times before it works again.

[2021-12-07 03:48] berkley4 commented on #268
If you use the suid sandbox, then make sure it has the correct permissions of 4755 and is named correctly (with a hypen rather than an underscore).

If you rely on kernel namespaces, then you might need to set the 'user.max_user_namespaces' sysctl to something greater than zero and/or 'kernel.unprivileged_userns_clone' to 1.

The latter sysctl didn't seem to be necessary until recently, but beware

[2021-12-07 13:11] alexgill commented on #268
Thanks for your good input!

Passing the `--no-sandbox` flag for testing didn't seem to make a difference other than a banner on chromium warning against running that way. After a few seconds, it crashed as before.

Checking the namespaces, the default values of these parameters match what you mentioned are needed.

Launching with the MESA environment variable did take care of the 'multiple thread

[2021-12-08 07:29] tpo opened #272 "chomedriver is not in search path"
The `chromedriver` executable not being in the search path causes browser automation SW, such as python's webdriver module that uses selenium, to not find the driver out of the box.

I suggest to either put the `chromedriver` executable under `/usr/bin/chromedriver` as [Debian does](https://packages.debian.org/bullseye/amd64/chromium-driver/filelist), or to symlink the executable to `/usr/bin/chro

[2021-12-10 15:44] berkley4 commented on #268
Sorry for not responding earlier. I'm not sure what's going wrong there, but I'm guessing that you're running version 95 from either the unified or unportable branches. I've seen a couple of similar reports of problems with 95, eg [here](https://twitter.com/ejmarkow/status/1443319987159117827).

You might like to try my build of the latest UC release (version 96.0.4664.93). For some reason I can't

[2021-12-10 17:01] alexgill commented on #268
Thanks for the input! So I just tried with your recently released v96 ...but with the same segfault after a few seconds. It outputted a new video driver error and have some more testing to do, but with my Ivybridge hardware, this makes sense, and a starting point for my troubleshooting (which you've helped along on :)

For reference, tried with passing various flags and options, and this is the va

[2021-12-10 18:32] berkley4 commented on #268
My first impression is that on Ivybridge you should be using the i965-va-driver package instead of intel-media-va-driver. I believe you can have both installed and select for i965 by launching chromium with `LIBVA_DRIVER_NAME=i965 chromium`.

I'm afraid I completely stuffed up the flags and forgot to convert the format from the upstream version to the old debian one. You'll need to edit /etc/chrom

[2021-12-10 19:20] alexgill commented on #268
Okay, default config replaced, driver param passed, kernel param modified, and launching like this: `MESA_GLSL_CACHE_DISABLE=true  LIBVA_DRIVER_NAME=i915 chromium`

Yet again about 3.5 seconds in, no errors, just a: `Segmentation fault` -- a much cleaner error :)

For reference, Journalctl gave a similar:

Dec 10 14:10:49 adar81 kernel: Code: 45 e8 75 0c 48 81 c4 b0 01 00 00 5b 41 5e 5d c3 e8 ac 4